
/*=============== saas_banner_area_two css ===============*/
  
.pagepiling .scroll-wrap {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3em;
  background:url('../images/arbaba/11.jpg');
  
}

.pagepiling .scroll-wrap .scrollable-content {
  width: 100%;
}

.p-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.pp-scrollable.section {
  overflow-x: hidden;
}

.section-1 .pp_triangle {
  top: 150px;
  left: 52%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-1 .pp_snak {
  bottom: 50px;
  right: 100px;
  -webkit-animation: slideInnew3 4s both alternate infinite;
  animation: slideInnew3 4s both alternate infinite;
}

.section-1.active .section_one_img img {
  -webkit-animation: fadeInLeft 1s both 0.8s;
  animation: fadeInLeft 1s both 0.8s;
}

.section-1.active .section_one_img .dots {
  -webkit-animation: fadeInUp 1s both 1s;
  animation: fadeInUp 1s both 1s;
}

.pp_triangle {
  -webkit-animation: spinnerRotateone 6s both alternate infinite;
  animation: spinnerRotateone 6s both alternate infinite;
}

.p_absoulte {
  position: absolute;
}

.round_line {
  /* width: 600px;
  height: 600px; */
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}

.round_line.one {
  top: -230px;
  right: -50px;
}

/* .round_line.two {
  top: -430px;
  right: -500px;
} */

.round_line.three {
  bottom: -188px;
  left: -50px;
}

.round_line.four {
  bottom: -450px;
  left: -80px;
}

/* .round_line.two, .round_line.four {
  width: 800px;
  height: 800px;
} */

.active .round {
  -webkit-animation: zoomIn 0.7s both 0.4s;
  animation: zoomIn 0.7s both 0.4s;
}

.active .round_line.two {
  -webkit-animation: fadeInDown2 1s both 1.4s;
  animation: fadeInDown2 1s both 1.4s;
}

.active .round_line.one {
  -webkit-animation: fadeInDown2 1s both 1s;
  animation: fadeInDown2 1s both 1s;
}

.active .round_line.three {
  -webkit-animation: fadeInUp2 1s both 1.4s;
  animation: fadeInUp2 1s both 1.4s;
}

.active .round_line.four {
  -webkit-animation: fadeInUp2 1s both 1s;
  animation: fadeInUp2 1s both 1s;
}

.active .pp_sec_title h3 {
  -webkit-animation: fadeInUp .9s both 0.6s;
  animation: fadeInUp .9s both 0.6s;
}

.active .pp_sec_title h2 {
  -webkit-animation: fadeInUp .9s both 0.8s;
  animation: fadeInUp .9s both 0.8s;
}

.pp_block {
  right: 0;
  top: 177px;
}

.section_one_img {
  margin-left: -46px;
  position: relative;
  z-index: 1;
}

.section_one_img img {
  -webkit-animation: fade .9s both;
  animation: fade .9s both;
}

.section_one_img .round {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(-140deg, #fae679 0%, #6ce987 100%);
  background-image: -webkit-linear-gradient(-140deg, #fae679 0%, #6ce987 100%);
  background-image: -ms-linear-gradient(-140deg, #fae679 0%, #6ce987 100%);
  -webkit-box-shadow: 0px 20px 60px 0px rgba(10, 5, 75, 0.06);
  box-shadow: 0px 20px 60px 0px rgba(10, 5, 75, 0.06);
  position: absolute;
  top: -60px;
  z-index: -2;
}

.section_one_img .dots {
  position: absolute;
  bottom: 0;
  right: 35px;
  z-index: -1;
}

.section_one-content {
  padding-right:0px;
  margin-top: 3.5em;
}

.section_one-content h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  color: #CDDC39;
  margin-bottom: 40px;
  /* text-align: center; */
  font-family: inherit;
  text-shadow: -1px 1px 3px #000;
}
.section_one-content h2 span {
  font-weight: 700;
}

.btn_scroll {
  font-size: 16px;
  color: #fff;
  border: 2px solid #c8c1fc;
  padding: 9px 32px;
  border-radius: 4px;
  display: inline-block;
}

.btn_scroll:hover {
  background: #5f54fd;
  border-color: #5f54fd;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(14, 6, 134, 0.2);
  box-shadow: 0px 20px 50px 0px rgba(14, 6, 134, 0.2);
  color: #fff;
}

  
  .payment_content_two .payment_img {
    margin-top: 60px;
    position: relative;
    z-index: 1;
  }
  
  .payment_content_two .payment_img .payment_icon {
    position: absolute;
    z-index: 0;
  }
  
  .payment_content_two .payment_img .payment_icon.icon_one {
    top: -82px;
    left: -34px;
  }
  
  .payment_content_two .payment_img .payment_icon.icon_two {
    left: 20px;
    top: 33%;
  }
  
  .payment_content_two .payment_img .payment_icon.icon_three {
    top: 38%;
    left: -20px;
    z-index: 1;
  }
  
  .payment_content_two .payment_img .payment_icon.icon_four {
    right: 0;
    top: -89px;
  }
  
  .payment_content_two .payment_img .payment_icon.icon_five {
    right: -40px;
    top: 80px;
  }
  
  .payment_content_two .payment_img .payment_icon.icon_six {
    right: -20px;
    top: 160px;
  }

  .payment_banner_content .agency_banner_btn {
    background: #fff;
    color: #5956fe;
    border-color: #fff;
}
.agency_banner_btn {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    background: #5e2ced;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    border-radius: 3px;
    padding: 16px 38px;
    border: 1px solid #5e2ced;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn_hover {
    overflow: hidden;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.payment_banner_content h1 {
    line-height: 70px;
    margin-bottom: 25px;
}
.w_color {
    color: #fff;
}
.f_700 {
  font-weight: 100;
  font-size: 30px;
  text-align: inherit;
  color: #FFEB3B;
  margin-left: 3em;
}

@media (max-width: 1199px){
.animation_img_two {
    bottom: 20px;
}
}

/*=============== saas_banner_area_two css ===============*/


/*=============== payment_features_area css ===============*/

/*=============== payment_features_area css =============*/
.payment_features_area {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0px;
}
  
  .payment_features_area .featured_item + .featured_item {
    margin-top: 100px;
  }
  
  .payment_features_area .payment_featured_img {
    margin-left: -50px;
  }
  
  .payment_features_area .payment_featured_img.img_two {
    margin-right: -190px;
    margin-left: 0px;
  }
  
  .payment_features_area .bg_shape {
    position: absolute;
    background-color: #f0f9fc;
    display: block;
    border-radius: 120px;
    z-index: -1;
  }
  
  .payment_features_area .shape_one {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: -669px;
    top: -80px;
  }
  
  .payment_features_area .shape_two {
    left: -669px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-43deg);
    top: 275px;
    width: 870px;
  }
  
  .payment_features_area .shape_three {
    bottom: -19%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: -100px;
  }
  
  .payment_features_content .icon {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
  }
  
  .payment_features_content .icon .icon_img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -23px;
    margin-left: -11px;
  }
  
  .payment_features_content h2 {
    font-weight: 700;
    font-size: 26px;
    color: #051441;
    margin-bottom: 15px;
  }
  
  .payment_features_content p {
    font-size: 16px;
    color: #677294;
    line-height: 30px;
    margin-bottom:18px;
  }
  
  .pay_btn {
    color: #5956fe;
    position: relative;
    border: 0px;
    z-index: 1;
    border-radius: 4px;
    background: #fff;
    z-index: 1;
    min-width: 170px;
    padding: 15px 20px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
  }
  
  .pay_btn:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    border-radius: 3px;
    background-image: -moz-linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
    background-image: -webkit-linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
    background-image: -ms-linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .pay_btn.pay_btn_two {
    color: #fff;
  }
  
  .pay_btn.pay_btn_two:before {
    opacity: 1;
  }
  
  .pay_btn.pay_btn_two:hover {
    color: #5956fe;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
  }
  
  .pay_btn.pay_btn_two:hover:before {
    opacity: 0;
  }
  
  .pay_btn:hover {
    color: #fff;
  }
  
  .pay_btn:hover:before {
    opacity: 1;
  }
  
  .payment_features_two {
    position: relative;
    z-index: 1;
  }
  
  .payment_features_two .sec_title h2 {
    font-size: 35px;
    line-height: 44px;
    font-weight: 500;
  }
  
  .payment_features_item {
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0px 20px 60px 0px rgba(0, 11, 40, 0.06);
    box-shadow: 0px 20px 60px 0px rgba(0, 11, 40, 0.06);
    padding: 50px 40px;
  }
  
  .payment_features_item h4 {
    font: 600 20px/26px "Poppins", sans-serif;
    color: #051441;
    margin-bottom: 22px;
  }
  
  .payment_features_item p {
    font-weight: 300;
    margin-bottom: 28px;
  }
  
  .payment_features_item .learn_btn_two:before {
    background: #5f51fb;
  }
  
  /*======== payment_features_area css ==========*




  /*============ payment_service_area css ==============*/
  .payment_service_area {
    padding-top:0px;
    padding-bottom: 260px;
    position: relative;
    z-index: 2;
    background: url(../images/arbaba/shape_two.png) no-repeat scroll center 0;
    background-size: cover;
    margin-top: -5em;
}

.payment_service_area .image_shape {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 882px;
  z-index: -1;
}

.payment_service_area .service-content h2 {
  font-size: 26px;
  margin-bottom: 25px;
}

.payment_service_area .service-content p {
  font-size: 18px;
}
.payment_service_item {
  padding-right: 80px;
  margin-bottom: 39px;
  display: flex;
}
.payment_service_item .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  line-height: 55px;
  margin-right: 30px;
  margin-top: 11px;
}

.payment_service_item h3 {
  margin-bottom: 15px;
  font-size: 20px;
}
.payment_service_item p {
  margin-bottom: 0;
}

/*============= stratup_service_area css =============*/
.stratup_service_img {
  position: relative;
  padding-top: 20px;
  z-index: 1;
}

.stratup_service_img .shape {
  position: absolute;
  left: -37px;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/new/new_shape.png) no-repeat scroll left 0;
  z-index: -1;
  background-size: contain;
}

.stratup_service_img .phone_img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.stratup_service_info {
  margin-left: -15px;
}

.stratup_service_info .startup_service_item {
  position: relative;
  padding-left: 75px;
}

.stratup_service_info .startup_service_item .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background: #6fadfa;
  line-height: 65px;
  position: absolute;
  left: 0;
  top: -5px;
}

.stratup_service_info .startup_service_item .icon.icon_two {
  background: #f3af4e;
}

.stratup_service_info .startup_service_item .icon.icon_three {
  background: #fa6fd1;
}

.stratup_service_info .startup_service_item .icon.icon_four {
  background: #fa6666;
}

.stratup_service_info .startup_service_item h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #051441;
  margin-bottom: 2px;
}

.stratup_service_info .startup_service_item p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}

.stratup_service_info .startup_service_item + .startup_service_item {
  margin-top: 40px;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}

#img-icons{
  margin-top: 11px;
}

.payment_action_content h2 {
  font-size: 26px;
}
/*============= stratup_service_area css =============*/


/*================ prototype_service_area css =============*/
.prototype_service_area {
  background: #fbfbfd;
  padding-bottom: 130px;
  padding-top: 20px;
}

.service_carousel {
  padding-left: 155px;
  position: relative;
  z-index: 1;
}

.service_carousel:before {
  width: 100px;
  content: "";
  height: 100%;
  right: -25px;
  top: 0;
  position: absolute;
  background: #fbfbfb;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  -webkit-box-shadow: 0px 100px 40px 0px rgba(251, 251, 251, 0.1);
  box-shadow: 0px 100px 40px 0px rgba(251, 251, 251, 0.1);
  z-index: 1;
}

.service_carousel .owl-stage {
  left: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service_carousel .owl-item {
  padding-left: 25px;
  padding-bottom: 55px;
}

.service_carousel .owl-item .service_item {
  -webkit-box-shadow: 0px 30px 40px 0px rgba(12, 0, 46, 0.1);
  box-shadow: 0px 30px 40px 0px rgba(12, 0, 46, 0.1);
}

.service_carousel .owl-item .service_item:hover {
  border-color: rgba(116, 68, 253, 0.2);
}

.service_carousel .owl-item .service_item img {
  width: auto;
}

.service_carousel .owl-next {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0px 2px 20px 2px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 2px 20px 2px rgba(12, 0, 46, 0.06);
  font-size: 16px;
  color: #222d39;
  line-height: 56px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.service_carousel .owl-next:hover {
  background: #7444fd !important;
  color: #fff !important;
}

.prototype_service_area_two {
  background: #f8f8fc;
  padding: 120px 0px 60px;
  position: relative;
  z-index: 1;
}

/*============= agency_service_area css =============*/
.agency_service_area {
  padding: 135px 0px 140px;
}

.agency_service_item {
  margin-bottom: 30px;
}

.agency_service_item .icon {
  width: auto;
  height: auto;
  display: inline-block;
}

.agency_service_item .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.agency_service_item a {
  font: 400 14px/26px "Poppins", sans-serif;
  color: #222d39;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-transition: color 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s;
  transition: color 0.3s linear 0s;
}

.agency_service_item a:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #222d39;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  -webkit-transition: width 0.3s linear 0s;
  -o-transition: width 0.3s linear 0s;
  transition: width 0.3s linear 0s;
}

.agency_service_item p {
  display: inline-block;
}

.agency_service_item p i {
  vertical-align: middle;
  padding-left: 8px;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.agency_service_item p:hover a {
  color: #5e2ced;
}

.agency_service_item p:hover a:before {
  width: 132%;
  background: #5e2ced;
}

.agency_service_item p:hover i {
  color: #5e2ced;
  padding-left: 12px;
}

/*====================== design_developers_area css =================*/
.design_img img {
  border: 2px solid #e4ebf2;
  border-radius: 6px;
  background-color: #c3c9ce;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
  box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
}

.design_img_two {
  margin-left: -100px;
}

/*============== software_service_area css =============*/
























/*=================== h_security_banner_area css =============*/
.h_security_banner_area {
  height: 100vh;
  min-height: 650px;
  background-image: -moz-linear-gradient(60deg, #0063c1 0%, #0e79de 100%);
  background-image: -webkit-linear-gradient(60deg, #0063c1 0%, #0e79de 100%);
  background-image: -ms-linear-gradient(60deg, #0063c1 0%, #0e79de 100%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.h_security_banner_area .s_round {
  position: absolute;
  border-radius: 50%;
  top: -100px;
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
}

.h_security_banner_area .s_round.one {
  width: 280px;
  height: 280px;
  left: -8%;
}

.h_security_banner_area .s_round.two {
  width: 500px;
  height: 500px;
  left: -430px;
}

.h_security_banner_area .s_shap {
  right: 0;
  bottom: 0;
}

.security_banner_content h2 {
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 18px;
}

.security_banner_content p {
  font-size: 20px;
}

.security_banner_content .app_btn {
  background-color: #fba820;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(10, 92, 80, 0.2);
  box-shadow: 0px 10px 50px 0px rgba(10, 92, 80, 0.2);
  font-size: 16px;
  padding: 10px 39px;
}

.security_banner_content .app_btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.security_banner_content .w_btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 30px;
}

.security_banner_content .w_btn img {
  margin-right: 10px;
  vertical-align: sub;
}

.security_title h2 {
  font-size: 34px;
  line-height: 44px;
}

.security_title h2 span {
  display: block;
  font-weight: 300;
}

/*================== h_security_area css ===========*/
/*================== h_security_area css ===========*/
.h_security_area {
  padding:0px;
}

.h_security_area .row {
  margin-bottom: -45px;
}

.h_security_item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 19px 0px;
  display: flex;
}
.h_security_item img {
  margin-right: 40px;
}

.h_security_item .media-body h4 {
  font-size: 20px;
  color: #2c2c51;
  line-height: 28px;
  margin-bottom: 18px;
}

.h_security_item .media-body p {
  margin-bottom: 0;
  color: #7b7b93;
}

/*=================== h_security_area css =============*/
/*=================== security_features_area css =============*/
.security_features_area {
  padding: 50px 0px;
  position: relative;
  z-index: 1;
}

.security_features_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1030px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.security_features_inner .s_features_item .item {
  width: 300px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 50px 100px 0px rgba(1, 1, 64, 0.06);
  box-shadow: 0px 50px 100px 0px rgba(1, 1, 64, 0.06);
  padding: 83px 0px;
  position: relative;
}

.security_features_inner .s_features_item .item h6 {
  font-size: 24px;
  color: #2c2c51;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 26px;
}

.security_features_inner .s_features_item:nth-child(3n - 1) {
  margin-top: 75px;
}

.security_features_inner .s_features_item:nth-child(3n + 1) {
  margin-top: 150px;
}

/*=================== security_features_area css =============*/
/*=================== h_security_about_area css =============*/
.h_security_about_area {
  background: #fafbfc;
  position: relative;
  z-index: 0;
}

.h_security_about_area:before {
  content: "";
  width: 150%;
  height: 460px;
  background: #fafbfc;
  position: absolute;
  z-index: -5;
  -webkit-transform: rotate(-10.9deg);
  -ms-transform: rotate(-10.9deg);
  transform: rotate(-10.9deg);
  top: -215px;
  right: -171px;
  z-index: -1;
}

.h_security_about_area .h_analytices_content ul {
  border-top: 0px;
  padding-top: 0;
}

.h_analytices_features_item.flex-row-reverse .h_security_img:before {
  left: auto;
  right: 20px;
  background: #edb4cb;
}

.h_analytices_features_item.flex-row-reverse .h_security_img img {
  -webkit-box-shadow: 15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
  box-shadow: 15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
}

.h_security_img {
  position: relative;
  z-index: 0;
}

.h_security_img:before {
  content: "";
  position: absolute;
  width: 70px;
  top: 60px;
  bottom: 60px;
  left: 20px;
  background: #b1ceeb;
  z-index: -1;
}

.h_security_img img {
  -webkit-box-shadow: -15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
  box-shadow: -15px 25.981px 60px 0px rgba(1, 1, 64, 0.14);
}

/*=================== h_security_about_area css =============*/
/*=================== security_customers_logo_area css =============*/
.security_customers_logo_area {
  padding: 100px 0px;
}

.security_customers_logo_area .hosting_title {
  margin-bottom: 50px;
}

.security_inner {
  padding: 0px 100px 20px;
  position: relative;
  border-bottom: 1px solid #ececf6;
}

.security_inner .security_leaf_left,
.security_inner .security_leaf_right {
  top: 50%;
  margin-top: -100px;
}

.security_inner .security_leaf_left {
  left: 0;
}

.security_inner .security_leaf_right {
  right: 0;
}

.security_app_btn {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #7b7b93;
}

.security_app_btn i {
  color: #0e79de;
  font-size: 45px;
  vertical-align: middle;
  padding-right: 20px;
}

.security_app_btn span {
  color: #0e79de;
}

.security_app_btn + .security_app_btn {
  margin-left: 35px;
}

/*=================== security_customers_logo_area css =============*/
.security_integration_area {
  padding: 30px 0px 120px;
}

.security_integration_area .s_integration_item {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(12, 0, 46, 0.08);
  box-shadow: 0px 3px 8px 0px rgba(12, 0, 46, 0.08);
}

.security_integration_area .s_integration_item:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
  box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
}

/*======== security_action_area css =========*/
.security_action_area {
  background: #fafafd;
  padding: 130px 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.security_action_area .img_bg {
  right: 0;
  top: -22px;
  z-index: -1;
}

.security_action_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.security_action_inner .media {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.security_action_inner .media img {
  margin-right: 70px;
}

.security_action_inner .media h3 {
  font-size: 34px;
  font-weight: 600;
  color: #2c2c51;
  margin-bottom: 0;
}

.security_action_inner .media h3 span {
  display: block;
  color: #0e79de;
  font-weight: 300;
}

.security_action_inner .er_btn_two {
  margin-top: 0;
  background: #0e79de;
  border: 0px;
  padding: 12px 57px;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(10, 52, 92, 0.2);
  box-shadow: 0px 10px 50px 0px rgba(10, 52, 92, 0.2);
}

.security_action_inner .er_btn_two:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.security_footer_area:after {
  display: none;
}

  









/*============== features_area css ==============*/
.features_area {
 
  overflow: hidden;
  background-image: linear-gradient(#e9ddff, #ccd4ff);
}

.feature_info .feature_img img {
  max-width: 100%;
  margin-top: -1em;
}

.feature_info .feature_img.f_img_one {
  margin-left: -50px;
  margin-top: 3em;
}

.feature_info .feature_img.f_img_one .one {
  bottom: 10px;
  left: 50px;
}

.feature_info .feature_img.f_img_one .three {
  bottom: 60px;
  left: 50px;
}

.feature_info .feature_img.f_img_two .one {
  right: 120px;
  bottom: 10px;
}

.feature_info .feature_img.f_img_two .three {
  right: 70px;
  bottom: 30px;
}

.feature_info .feature_img.f_img_two .four {
  top: 80px;
  left: 100px;
}

.feature_info .f_content .icon {
  position: relative;
  width: 105px;
  height: 105px;
  text-align: center;
  line-height: 105px;
  font-size: 20px;
  color: #fff;
  margin-left: -24px;
  z-index: 1;
}

.feature_info .f_content .icon img {
  position: absolute;
  left: 0;
  top: 31px;
  z-index: -1;
}

.feature_info .f_content h2 {
  color: #673AB7;
  line-height: 44px;
  /* padding-right: 46px; */
  margin: 8px 0px 30px;
  font-size: 24px;
}
.feature_info .f_content p {
  color: #000;
  line-height: 30px;
  margin-bottom: 0px;
  margin-top: -1em;
}

/*============= prototype_featured_area css ===============*/




/*=========== service_area css ============*/
.service_area {
  background: #e0e0e0;
  padding: 3em;
}

.service_item {
  background: #fff;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(3, 115, 156, 0.1);
  box-shadow: 0px 30px 40px 0px rgba(3, 115, 156, 0.1);
  padding: 47px 40px 0px;
  height: 100%;
  position: relative;
  border: 2px solid transparent;
  -webkit-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
  cursor: pointer;
  overflow: hidden;
}

.service_item p {
  line-height: 28px;
}

.service_item .icon {
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
  position: absolute;
  right: 30px;
  top: 30px;
}

.service_item .icon.s_icon_one {
  background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
}

.service_item .icon.s_icon_two {
  background-image: -moz-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
  background-image: -webkit-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
  background-image: -ms-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(224, 56, 39, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(224, 56, 39, 0.4);
}

.service_item .icon.s_icon_three {
  background-image: -moz-linear-gradient(40deg, #2c82ed 0%, #38d0fc 100%);
  background-image: -webkit-linear-gradient(40deg, #2c82ed 0%, #38d0fc 100%);
  background-image: -ms-linear-gradient(40deg, #2c82ed 0%, #38d0fc 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(44, 130, 237, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(44, 130, 237, 0.4);
}

.service_item .icon.s_icon_four {
  background-image: -moz-linear-gradient(40deg, #e09520 0%, #fae926 100%);
  background-image: -webkit-linear-gradient(40deg, #e09520 0%, #fae926 100%);
  background-image: -ms-linear-gradient(40deg, #e09520 0%, #fae926 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(224, 149, 32, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(224, 149, 32, 0.4);
}

.service_item img {
  margin-right: -25px;
  width: auto;
}

.service_item:hover {
  border-color: #c4e7f7;
}
