
/*-- Sales baba css contentb start here--*/



/*-- About --*/

.agileabout {
    padding: 1em;
}
.agileabout-grid-1 h1 {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    margin-top: 1em;
}

.agileabout-grid-1 h1 span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.agileabout-grid-1 h4 {
	text-align: left;
	margin: 50px 0 30px;
	line-height: 25px;
	color: #555;
	font-weight: 100;
}

.agileabout-grid-1 p {
	color: #777;
	line-height: 30px;
}

/*-- //About --*/

@media screen and (max-width: 1024px) {
	.agileabout, .agiilecontactw3layouts {
		padding: 75px 0;
	}
	.agileabout-grid {
		padding: 0;
	}
	.agileabout-grid-1 h1 {
		font-size: 35px;
	}
	.agileabout-grid-1 h4 {
		margin: 20px 0 15px;
	}
	.agileabout-grid-1 p {
		line-height: 27px;
    }
}

@media screen and (max-width: 900px) {
	.agileabout-grid-1 h1 {
		font-size: 34px;
	}
	.agileabout-grid-1 p {
		line-height: 25px;
		font-size: 13px;
    }
}

@media screen and (max-width: 800px) {
	.agileabout-grid-1 h1 {
		font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
	.agileabout {
		padding: 50px 0 0;
	}
	.agiilecontactw3layouts {
		padding: 50px 0;
	}
	.agileabout-grid-1 h1 {
		font-size: 28px;
	}
	.agileabout-grid-1 h4 {
		margin: 15px 0 10px;
		font-size: 15px;
		line-height: 22px;
	}
	.agileabout-grid-1 p {
		line-height: 22px;
    }
}


@media screen and (max-width: 767px) {
	.agileabout-grid-1 h1 {
		font-size: 30px;
	}
	.agileabout-grid-1 h4 {
		margin: 20px 0 15px;
		font-size: 18px;
	}
	.agileabout-grid-1 p {
		line-height: 25px;
    }
}
@media screen and (max-width: 736px) {
	.agileabout-grid-1 h4 {
		font-size: 17px;
		line-height: 25px;
    }
}
@media screen and (max-width: 667px) {
	.agileabout-grid-1 h4 {
		font-size: 18px;
    }
}
@media screen and (max-width: 568px) {
	.agileabout {
		padding: 35px 0 0;
	}
	.agileabout-grid-1 h4 {
		font-size: 16px;
		margin: 15px 0 10px;
    }
}
@media screen and (max-width: 414px) {
	.agileabout-grid-1 h1 {
		font-size: 29px;
    }
}
@media screen and (max-width: 384px) {
	.agileabout-grid-1 h1 {
		font-size: 27px;
    }
}
@media screen and (max-width: 375px) {
	.agileabout-grid-1 h1 {
		font-size: 26px;
	}
	.agileabout-grid-1 h4 {
		font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
	.agileabout-grid-1 h1 {
		font-size: 25px;
    }
}





#services1{
    background: rgba(57, 115, 230, .15);
    padding: 2em;
}


/* services */
h3.tittle-wthree {
    color: #333;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}

h3.tittle-wthree.two {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
}

p.sub-tittle {
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

.ser-w3pvt-gd-wthree {
    margin-bottom: 0px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    padding: 1em 3em;
    border: 1px dotted #000;
    border-top: 0;
    border-right: 0px;
    /* border-bottom: 0px; */
}

.icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    background: #f7f7f7;
}

.icon span {
    line-height: 60px;
    font-size: 1.2em;
}

.service-content {
    margin-top: 1.5em;
}

.service-content h5 {
    font-size: 1.2em;
    color: #275dc7;
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
}

}
.ser-w3pvt-gd-wthree {
    padding: 2em 2em;
    border: 1px dotted #666;
    border-top: 0;
    border-right: 0;
}

.ser-w3pvt-gd-wthree:nth-child(1) {
    border-left: 0;
}

.welcome-left {
    margin-top: 8em;
}


.p{
    /* font-family: National-Book, Helvetica, sans-serif; */
    font-size: 1rem;
    line-height: 1.75;
    color: #666;
    margin: 10px 0;
    text-align: center;
}

/* //services */



.abouts {
    padding: 3em;
    background: #30c39e;
}




/*-- banner-bottom --*/
.banner-bottom {
    margin: 4em 0;
}
.wthree_banner_bottom_grid_right h4 {
    font-size: 1.6em;
    margin-bottom: .7em;
    font-weight: 600;
    color: #222222;
    letter-spacing: 1px;
}

.wthree_banner_bottom_grid_right p {
    line-height: 2em;
}

.agile_banner_bottom_grid_left_grid {
    width: 60px;
    height: 60px;
    text-align: center;
    background: #fff;
}

.agile_banner_bottom_grid_left_grid span {
    font-size: 2em;
    color: #F2184F;
    line-height: 62px;
}

.w3_agileits_banner_bottom_pos_grid:hover span {
    color: #111;
}
/*-- about --*/
.banner-text.agileinfo.about-w3bnr h2 {
    font-size: 2em;
    letter-spacing: 3px;
}
.banner-text.agileinfo.about-w3bnr h2 a{
    color:#03d2be;
}
.banner-text.agileinfo.about-w3bnr h2 a:hover{
    color:#fff;
}
.banner-text.agileinfo.about-w3bnr{
    padding: 4em 0; 
}
.w3ls_about_left_grid h3 {
    color: #000000;
    font-size: 21px;
    margin-bottom: 0.54em;
}
.w3ls_about_left_grid:nth-child(2) {
    margin: 2.2em 0;
}
.w3ls_about_left_grid i.fa{
    color: #0d2d62;
    margin-right: 0.8em;
}
@media (max-width: 384px){
	.w3ls_about_left_grid h3 {
    color: #f2184f;
    font-size: 1.5em;
    margin-bottom: 0.54em;
   }
   }
   @media(max-width:320px){
    .w3ls_about_left_grid i.fa {
        margin-right: 0.3em;
    }
    .w3ls_about_left_grid h3 {
        font-size: 1.4em;
    }
       }
       @media(max-width:1024px){
        .w3l_about_bottom_right {
            padding: 6.5em 3.5em 3.6em;
        }
        }
        @media(max-width:800px){
            .w3l_about_bottom_right {
                padding: 3.5em 3.5em 3.6em;
            }
        }
        @media(max-width:320px){
            .w3ls_about_left_grid i.fa {
                margin-right: 0.3em;
            }
            .w3ls_about_left_grid h3 {
                font-size: 1.4em;
            }
        }
  
/*-- //about --*/


/*--/introduction--*/
h3.main {
    font-size: 1.7em;
    line-height: 1.5em;
}

h3.main mark {
    padding: 0.4em 0.4em;
    background-color: #ccffe4;
}

.about-in .card {
    background: none;
    border: none;
    padding: 0;
}

.about-in p.card-text {
    line-height: 2em;
}

.about-in .card i {
    font-size: 2em;
    color: #ff3c41;
}

.icon-service {
    float: left;
    margin-right: 2%;
    width: 20%;
    text-align: center;
}

.icon-service-info {
    float: left;
    width: 72%;
}

.about-in .card h5.card-title {
  font-size: 1.2em;
}

.about-in .card-body {
    background: #f5f5f5;
    margin-bottom: 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.middle-grids .card-body:hover{
    background: url(../images/serve-img.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: auto;
}
.middle-grids .card-body:hover,.middle-grids .card-body:hover p{
    color:#fff;
}
.about-in h6 {
    font-size: 0.9em;
    color: #888;
    font-weight: 400;
}

.about-rights h3 {
    color: #3973e6;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.6em;
    padding: 1em;
    border: 1px solid #3973e6;
}

.about-rights h4 {
    margin: 1.2em 0;
    font-size: 23px;
    color: #000000;
    font-weight: 300;
}
.about-rights {
    padding: 3em 6em;
}

ul.author li {
    list-style: none;
    margin: 0 2em 0 0em;
}

.about-in .card-body {
    background: #e9eaef;
    margin-bottom: 1.2em;
    padding: 2.5em 1em;
}

ul.author li img {
    border-radius: 50%;
    -weblit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #ddd;
}

ul.author li {
    color: #888;
    font-size: 0.85em;
}

ul.author li span {
    display: block;
    font-weight: 600;
    color: #5c6065;
    font-size: 1.2em;
}

.colour-one,
.colour-two,
.colour-three,
.colour-four {
    width: 227px;
    height: 227px;
    background: #ff3c41;
    border-radius: 150px 150px 0px 150px;
}

.colour-gd {
    margin-bottom: 0.7em;
    padding: 0;
}

.colour-two {
    border-radius: 150px 150px 150px 0px;
    background: #fcd000;
}

.colour-three {
    border-radius: 150px 0px 150px 150px;
    background: #47cf73;
}

.colour-four {
    border-radius: 0px 150px 150px 150px;
    background: #ae63e4;

}

@media(max-width:1280px) {
    .about-rights {
        padding:2em 2em;
    }
}

@media(max-width:1080px) {
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 190px;
        height: 190px;
    }
    .about-rights {
        padding: 1em 2em;
    }
}

/*--//introduction--*/



.title {
    font-size:37px;
    color: #000;
    letter-spacing: 2px;
    font-weight:400;
    text-transform: capitalize;
    }
    h6.title-top-txt {
        font-size: 20px;
        color: #3973e6;
    }
    .title-wls-text p {
    font-size: 15px;
    color: #676662;
    letter-spacing: 1px;
    padding: 10px 0px;
    line-height: 28px;
    }
    .clr {
    color: #fff;
    }
    .clr-para p {
    color: #d8d8d8;
    }


    /*--/banner-info--*/


    .agileinfo-logo h2 {
        color: #3F51B5;
        font-size: 2em;
        text-transform: capitalize;
        line-height: 47px;
        letter-spacing: 1px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
        text-align: center;
    }
.agileinfo-logo p {
    font-size: 16px;
    color: #ddd;
    margin: 2em 0;
}
.slider-info a.btn {
    background: none;
    padding: 10px 25px;
    color: #000000;
    border: 2px solid #000000;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.slider-info a.btn:hover {
    opacity:0.8;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.banner-text {
    padding: 13vw 0 6vw;
}
.banner-image h4 {
    font-size: 20px;
}

/*-- //banner --*/

#set-button{
    padding: 0.9em;
    width: 15%;
    background:#275dc7;
    color: #000;
    font-weight: 700;
    cursor: pointer;

}