
.er_btn_two {
  background: #4e78f4;
  border-color: #4e78f4;
  color: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
  box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
}
.h_analytics_content .er_btn_two {
  margin-top: 0px;
}
.er_btn {
  border: 2px solid #c8d4fa;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 45px;
  line-height: 26px;
  padding: 8px 27px;
  display: inline-block;
  margin-top: 60px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/*============ home_analytics_banner_area css ============*/
.home_analytics_banner_area {
  
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;.er_btn_two{background:#4e78f4;border-color:#4e78f4;color:#fff;-webkit-box-shadow:0 20px 30px 0 rgba(45,93,237,.1);box-shadow:0 20px 30px 0 rgba(45,93,237,.1)}.h_analytics_content .er_btn_two{margin-top:0}.er_btn{border:2px solid #c8d4fa;font-size:16px;font-weight:500;color:#fff;font-family:Poppins,sans-serif;border-radius:45px;line-height:26px;padding:8px 27px;display:inline-block;margin-top:60px;-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}.home_analytics_banner_area{min-height:500px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-image:-moz-linear-gradient(-50deg,#22186e 0,#0e044b 100%);background-image:-webkit-linear-gradient(-50deg,#22186e 0,#0e044b 100%);background-image:-ms-linear-gradient(-50deg,#22186e 0,#0e044b 100%);overflow:hidden;position:relative}.home_analytics_banner_area .elements_item{position:absolute}.home_analytics_banner_area .elements_item:nth-child(1){right:-30px;top:165px}.home_analytics_banner_area .elements_item:nth-child(2){bottom:250px;right:100px}.home_analytics_banner_area .elements_item:nth-child(3){bottom:66px;left:280px}.home_analytics_banner_area .elements_item:nth-child(4){bottom:-80px;left:100px}.home_analytics_banner_area .elements_item:nth-child(5){top:250px;left:180px}.home_analytics_banner_area .elements_item:nth-child(6){top:180px;left:150px}.h_analytics_content h2{color:#fff;font-size:50px;line-height:64px;margin-bottom:20px}.h_analytics_content p{font-size:16px;color:#fff}.h_analytics_content .er_btn_two{margin-top:0}.h_analytics_content .er_btn_two:hover{color:#fff}.chat_clients_feedback{background-image:-moz-linear-gradient(-140deg,#5ce3f7 -100%,#70a5fe 100%);background-image:-webkit-linear-gradient(-140deg,#5ce3f7 -100%,#70a5fe 100%);background-image:-ms-linear-gradient(-140deg,#5ce3f7 -100%,#70a5fe 100%);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.chat_clients_feedback.feedback_two{background-image:-moz-linear-gradient(-140deg,#b473fe 0,#ad65ff 100%);background-image:-webkit-linear-gradient(-140deg,#b473fe 0,#ad65ff 100%);background-image:-ms-linear-gradient(-140deg,#b473fe 0,#ad65ff 100%)}.chat_clients_feedback.feedback_two .clients_feedback_item .feedback_body{padding-right:0}.clients_feedback_item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:40px}.clients_feedback_item .feedback_body{padding-left:100px;padding-right:100px;position:relative;-webkit-box-flex:1;-ms-flex:1;flex:1}.clients_feedback_item .feedback_body p{color:#fff;font-size:18px;line-height:30px;margin-bottom:25px}.clients_feedback_item .feedback_body .ratting{padding-bottom:10px}.clients_feedback_item .feedback_body .ratting i{font-size:16px;color:#ffc859}.clients_feedback_item .feedback_body .f_name{font-size:30px;color:#fff;font-weight:400;margin-bottom:0}.clients_feedback_item .feedback_body a{font-size:14px;color:#fff}.chat_get_started_area{background:url(../images/CRM/get_started_bg.png) no-repeat scroll center bottom;height:700px;padding-top:52px;background-color:#673ab7}.chat_get_started_content h2{color:#cddc39;font-size:28px;text-align:center}.chat_get_started_content p{font-size:17px;line-height:30px;margin:0 auto 10px;color:#fff}.chat_btn{background:#cddc39;color:#673ab7;padding:9px 95px;border-radius:4px}.chat_btn:hover{-webkit-box-shadow:0 10px 40px 0 rgba(103,84,226,.3);box-shadow:0 10px 40px 0 rgba(103,84,226,.3)}.h_footer_track{padding-bottom:100px}.h_footer_track:after,.h_footer_track:before{display:none}.payment_features_area_three{padding:63px 0 0;background:#ece1ff}.payment_features_content_two h2{font-size:35px;line-height:44px;margin-bottom:18px;font-weight:500}.payment_features_content_two p{font-size:18px;line-height:30px;font-weight:300;margin-bottom:60px}.payment_features_content_two .item{margin-top:10px}.payment_features_content_two .item h3{font-size:20px;line-height:26px;color:#051441;margin-bottom:15px;margin-top:0}.payment_features_content_two .item p{font-size:16px;line-height:26px}.payment_features_content_two .app_btn{background:#5f51fb;border-color:#5f51fb;padding:11px 38px}.payment_features_content_two .app_btn i{font-size:12px;padding-left:10px}.payment_features_content_two .app_btn:hover{color:#5f51fb;background:0 0}.payment_features_img{position:relative;text-align:left;z-index:1;float:left}.payment_features_img:before{content:"";background:url(../img/new/shape_bg.png) no-repeat scroll center left;position:absolute;left:-65px;top:-20px;right:-32px;height:100%;background-size:cover;z-index:-1}.payment_features_img img{margin-left:-50px}.payment_features_area_four .payment_features_content h2{line-height:44px;font-size:30px}.payment_features_area_four .pay_btn{border-radius:45px;border:1px solid #5f51fb;min-width:auto;padding:12px 36px;color:#5f51fb}.payment_features_area_four .pay_btn:before{background:#5f51fb}.payment_features_area_four .pay_btn:hover{color:#fff}.payment_features_area_four .pay_btn.pay_btn_two{color:#fff}.payment_features_area_four .pay_btn.pay_btn_two:hover{color:#5f51fb}.h_security_about_area .h_analytices_content ul{border-top:0;padding-top:0}.h_analytices_features_item .h_analytices_content ul{margin-bottom:0;border-top:1px solid #ececf6;padding-top:12px}.h_analytices_features_item .h_analytices_content ul li{font-size:16px;line-height:28px;color:#7b7b93;font-weight:400;position:relative;padding-left:20px;margin-top:20px}.h_analytices_features_item .h_analytices_content ul li span{font-weight:500;color:#2c2c51}.sec_pad{padding:59px 0}.seo_features_content h2{font-size:25px;line-height:39px;color:#673ab7;margin-bottom:9px}.seo_features_content p{font-size:16px;color:#212121;font-weight:300;text-align:justify}.seo_features_content h6{font-size:18px;font-weight:400;color:#263b5e;line-height:30px;margin-bottom:35px}.seo_features_content .seo_btn{margin-top:40px}.seo_features_content .seo_features_item{padding-right:150px;margin-top:50px}.seo_features_content .seo_features_item .icon{width:70px;height:70px;border-radius:50%;background:#f1ebfe;text-align:center;line-height:70px;margin-right:30px}.seo_features_content .seo_features_item .icon.two{background:#fcf1e7}.seo_features_content .seo_features_item h3{font-size:20px;color:#263b5e;font-weight:500;margin-bottom:15px}.seo_features_content .seo_features_item p{font-size:16px;line-height:28px;color:#6a7695;margin-bottom:0}.seo_features_img{text-align:center;position:relative;float:left}.seo_features_img img{margin-right:-80px}.seo_features_img .round_circle{position:absolute;width:540px;height:500px;border-radius:50%;background:#5e2ced;right:-126px;z-index:-1;opacity:.06}.seo_features_img .round_circle.two{width:360px;height:360px;left:84px;right:auto;top:74px;z-index:-2}.seo_features_img.seo_features_img_two img{margin-left:-170px;margin-right:0}.seo_features_img.seo_features_img_two .round_circle{left:-86px;right:auto;width:500px;height:500px;background:#dfac0b}.seo_features_img.seo_features_img_two .round_circle.two{right:60px;width:370px;height:370px;left:auto}.support_home_area{background:#fafafe}.support_home_area .banner_top .subcribes .form-control{border-radius:45px;-webkit-box-shadow:none;box-shadow:none;border-color:#e1e1e1}.support_home_area .banner_top .subcribes .form-control.placeholder{color:#999}.support_home_area .banner_top .subcribes .form-control:-moz-placeholder{color:#999}.support_home_area .banner_top .subcribes .form-control::-moz-placeholder{color:#999}.support_home_area .banner_top .subcribes .form-control::-webkit-input-placeholder{color:#999}.support_home_area .banner_top .subcribes .btn_submit{border-radius:45px}.support_home_img{margin-left:-70px}.border_bottom{width:100%;height:1px;background:#e1e5e8}.support_partner_logo_area{padding-top:50px}.support_partner_logo_area .logo_item{margin-bottom:30px}.support_help_area .support_item{text-align:center;width:50%}.support_help_area .support_item h4{font-size:20px;font-weight:500;color:#fff;margin:27px 0 25px}.support_help_area .support_item .software_banner_btn{background-color:#6754e2;-webkit-box-shadow:0 20px 30px 0 rgba(12,0,46,.1);box-shadow:0 20px 30px 0 rgba(12,0,46,.1)}.support_help_area .support_item .software_banner_btn:hover{-webkit-box-shadow:none;box-shadow:none;color:#fff}.support_help_area .support_item+.support_item{border-left:1px solid #e1e1e1}.support_tab .nav-item .nav-link{border-radius:10px}.support_tab_content .tab-pane .tab_img{margin-right:-176px;max-width:inherit}.support_tab_content .tab-pane .tab_img img{max-width:inherit}.support_integration_area{background:#eaeeff;padding-top:120px}.d-flex{display:-ms-flexbox!important;display:flex!important}.pay_btn.pay_btn_two{color:#fff;margin-left:18px}.pay_btn{color:#5956fe;position:relative;border:0;z-index:1;border-radius:4px;background:#8bc34a;z-index:1;min-width:170px;padding:15px 20px;text-align:center;-webkit-box-shadow:0 2px 5px 0 rgba(63,54,132,.1);box-shadow:0 2px 5px 0 rgba(63,54,132,.1)}
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -moz-linear-gradient(-50deg, #22186e 0%, #0e044b 100%);
  background-image: -webkit-linear-gradient(-50deg, #22186e 0%, #0e044b 100%);
  background-image: -ms-linear-gradient(-50deg, #22186e 0%, #0e044b 100%);
  overflow: hidden;
  position: relative;
}

.home_analytics_banner_area .elements_item {
  position: absolute;
}

.home_analytics_banner_area .elements_item:nth-child(1) {
  right: -30px;
  top: 165px;
}

.home_analytics_banner_area .elements_item:nth-child(2) {
  bottom: 250px;
  right: 100px;
}

.home_analytics_banner_area .elements_item:nth-child(3) {
  bottom: 66px;
  left: 280px;
}

.home_analytics_banner_area .elements_item:nth-child(4) {
  bottom: -80px;
  left: 100px;
}

.home_analytics_banner_area .elements_item:nth-child(5) {
  top: 250px;
  left: 180px;
}

.home_analytics_banner_area .elements_item:nth-child(6) {
  top: 180px;
  left: 150px;
}

.h_analytics_content h2 {
  color: #fff;
  font-size: 50px;
  line-height: 64px;
  margin-bottom: 20px;
}

.h_analytics_content p {
  font-size: 16px;
  color: #fff;
}

.h_analytics_content .er_btn_two {
  margin-top: 0px;
}

.h_analytics_content .er_btn_two:hover {
  color: #fff;
}

/*============ home_analytics_banner_area css ============*/

*============= chat_clients_area css ===========*/
.chat_clients_feedback {
  background-image: -moz-linear-gradient(-140deg, #5ce3f7 -100%, #70a5fe 100%);
  background-image: -webkit-linear-gradient(-140deg, #5ce3f7 -100%, #70a5fe 100%);
  background-image: -ms-linear-gradient(-140deg, #5ce3f7 -100%, #70a5fe 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat_clients_feedback.feedback_two {
  background-image: -moz-linear-gradient(-140deg, #b473fe 0%, #ad65ff 100%);
  background-image: -webkit-linear-gradient(-140deg, #b473fe 0%, #ad65ff 100%);
  background-image: -ms-linear-gradient(-140deg, #b473fe 0%, #ad65ff 100%);
}

.chat_clients_feedback.feedback_two .clients_feedback_item .feedback_body {
  padding-right: 0;
}

.clients_feedback_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

.clients_feedback_item .feedback_body {
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.clients_feedback_item .feedback_body p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}

.clients_feedback_item .feedback_body .ratting {
  padding-bottom: 10px;
}

.clients_feedback_item .feedback_body .ratting i {
  font-size: 16px;
  color: #ffc859;
}

.clients_feedback_item .feedback_body .f_name {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}

.clients_feedback_item .feedback_body a {
  font-size: 14px;
  color: #fff;
}
.chat_get_started_area {
  background: url(../images/CRM/get_started_bg.png) no-repeat scroll center bottom;
  height: 700px;
  padding-top: 52px;
  background-color: #673AB7;
}

.chat_get_started_content h2 {
    /* font-weight: 700; */
    color: #CDDC39;
    font-size: 28px;
    text-align: center;
}
.chat_get_started_content p {
    font-size: 17px;
    line-height: 30px;
    margin: 0 auto 10px;
    color: #fff;
}

.chat_btn {
  background: #CDDC39;
  color: #673AB7;
  padding: 9px 95px;
  border-radius: 4px;
}
.chat_btn:hover {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(103, 84, 226, 0.3);
  box-shadow: 0px 10px 40px 0px rgba(103, 84, 226, 0.3);
}

.h_footer_track {
  padding-bottom: 100px;
}

.h_footer_track:before, .h_footer_track:after {
  display: none;
}

/*============= chat_clients_area css ===========*/




/*======== payment_features_area css ==========*/
.payment_features_area_three {
    padding: 63px 0px 0px;
    background: #ece1ff;
}
  
  .payment_features_content_two h2 {
    font-size: 35px;
    line-height: 44px;
    margin-bottom: 18px;
    font-weight: 500;
  }
  
  .payment_features_content_two p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 60px;
  }
  
  .payment_features_content_two .item {
    margin-top: 10px;
  }
  
  .payment_features_content_two .item h3 {
    font-size: 20px;
    line-height: 26px;
    color: #051441;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  
  .payment_features_content_two .item p {
    font-size: 16px;
    line-height: 26px;
  }
  
  .payment_features_content_two .app_btn {
    background: #5f51fb;
    border-color: #5f51fb;
    padding: 11px 38px;
  }
  
  .payment_features_content_two .app_btn i {
    font-size: 12px;
    padding-left: 10px;
  }
  
  .payment_features_content_two .app_btn:hover {
    color: #5f51fb;
    background: transparent;
  }
  
  .payment_features_img {
    position: relative;
    text-align: left;
    z-index: 1;
    float: left;
  }
  
  .payment_features_img:before {
    content: "";
    background: url(../img/new/shape_bg.png) no-repeat scroll center left;
    position: absolute;
    left: -65px;
    top: -20px;
    right: -32px;
    height: 100%;
    background-size: cover;
    z-index: -1;
  }
  
  .payment_features_img img {
    margin-left: -50px;
  }
  
  .payment_features_area_four .payment_features_content h2 {
    line-height: 44px;
    font-size: 30px;
  }
  
  .payment_features_area_four .pay_btn {
    border-radius: 45px;
    border: 1px solid #5f51fb;
    min-width: auto;
    padding: 12px 36px;
    color: #5f51fb;
  }
  
  .payment_features_area_four .pay_btn:before {
    background: #5f51fb;
  }
  
  .payment_features_area_four .pay_btn:hover {
    color: #fff;
  }
  
  .payment_features_area_four .pay_btn.pay_btn_two {
    color: #fff;
  }
  
  .payment_features_area_four .pay_btn.pay_btn_two:hover {
    color: #5f51fb;
  }

  .h_security_about_area .h_analytices_content ul {
    border-top: 0px;
    padding-top: 0;
}
.h_analytices_features_item .h_analytices_content ul {
    margin-bottom: 0;
    border-top: 1px solid #ececf6;
    padding-top: 12px;
}
.h_analytices_features_item .h_analytices_content ul li {
    font-size: 16px;
    line-height: 28px;
    color: #7b7b93;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
    margin-top: 20px;
}
.h_analytices_features_item .h_analytices_content ul li span {
    font-weight: 500;
    color: #2c2c51;
}
  
.sec_pad {
    padding: 59px 0px;
}

  .seo_features_content h2 {
    font-size: 25px;
    line-height: 39px;
    color: #673AB7;
    margin-bottom: 9px;
}
  
.seo_features_content p {
    font-size: 16px;
    color: #212121;
    font-weight: 300;
    text-align: justify;
}
  
  .seo_features_content h6 {
    font-size: 18px;
    font-weight: 400;
    color: #263b5e;
    line-height: 30px;
    margin-bottom: 35px;
  }
  
  .seo_features_content .seo_btn {
    margin-top: 40px;
  }
  
  .seo_features_content .seo_features_item {
    padding-right: 150px;
    margin-top: 50px;
  }
  
  .seo_features_content .seo_features_item .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f1ebfe;
    text-align: center;
    line-height: 70px;
    margin-right: 30px;
  }
  
  .seo_features_content .seo_features_item .icon.two {
    background: #fcf1e7;
  }
  
  .seo_features_content .seo_features_item h3 {
    font-size: 20px;
    color: #263b5e;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .seo_features_content .seo_features_item p {
    font-size: 16px;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 0;
  }
  
  .seo_features_img {
    text-align: center;
    position: relative;
    float: left;
}
  
  .seo_features_img img {
    margin-right: -80px;
  }
  
  .seo_features_img .round_circle {
    position: absolute;
    width: 540px;
    height: 500px;
    border-radius: 50%;
    background: #5e2ced;
    right: -126px;
    z-index: -1;
    opacity: 0.06;
  }
  
  .seo_features_img .round_circle.two {
    width: 360px;
    height: 360px;
    left: 84px;
    right: auto;
    top: 74px;
    z-index: -2;
  }
  
  .seo_features_img.seo_features_img_two img {
    margin-left: -170px;
    margin-right: 0;
  }
  
  .seo_features_img.seo_features_img_two .round_circle {
    left: -86px;
    right: auto;
    width: 500px;
    height: 500px;
    background: #dfac0b;
  }
  
  .seo_features_img.seo_features_img_two .round_circle.two {
    right: 60px;
    width: 370px;
    height: 370px;
    left: auto;
  }

  
/*============ support_home_area css ============*/
.support_home_area {
    background: #fafafe;
  }
  
  .support_home_area .banner_top .subcribes .form-control {
    border-radius: 45px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #e1e1e1;
  }
  
  .support_home_area .banner_top .subcribes .form-control.placeholder {
    color: #999999;
  }
  
  .support_home_area .banner_top .subcribes .form-control:-moz-placeholder {
    color: #999999;
  }
  
  .support_home_area .banner_top .subcribes .form-control::-moz-placeholder {
    color: #999999;
  }
  
  .support_home_area .banner_top .subcribes .form-control::-webkit-input-placeholder {
    color: #999999;
  }
  
  .support_home_area .banner_top .subcribes .btn_submit {
    border-radius: 45px;
  }
  
  .support_home_img {
    margin-left: -70px;
  }
  
  .border_bottom {
    width: 100%;
    height: 1px;
    background: #e1e5e8;
  }
  
  .support_partner_logo_area {
    padding-top: 50px;
  }
  
  .support_partner_logo_area .logo_item {
    margin-bottom: 30px;
  }
  
  .support_help_area .support_item {
    text-align: center;
    width: 50%;
  }
  .support_help_area .support_item h4 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin: 27px 0px 25px;
}
  .support_help_area .support_item .software_banner_btn {
    background-color: #6754e2;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
  }
  
  .support_help_area .support_item .software_banner_btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
  }
  
  .support_help_area .support_item + .support_item {
    border-left: 1px solid #e1e1e1;
  }
  
  .support_tab .nav-item .nav-link {
    border-radius: 10px;
  }
  
  .support_tab_content .tab-pane .tab_img {
    margin-right: -176px;
    max-width: inherit;
  }
  
  .support_tab_content .tab-pane .tab_img img {
    max-width: inherit;
  }
  
  .support_integration_area {
    background: #eaeeff;
    padding-top: 120px;
  }
  .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}  
.pay_btn.pay_btn_two {
    color: #fff;
    margin-left: 18px;
}
.pay_btn {
    color: #5956fe;
    position: relative;
    border: 0px;
    z-index: 1;
    border-radius: 4px;
    background: #8BC34A;
    z-index: 1;
    min-width: 170px;
    padding: 15px 20px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
}
