
.saas_banner_area_three .slider_item .image_mockup .phone {
    right: 0;
    position: absolute;
    bottom: 46px;
  }
  
  .saas_banner_area_three .slider_item .image_mockup .watch {
    left: 0;
    position: absolute;
    bottom: 0px;
  }
  
  .saas_banner_area_three .active .image_mockup .laptop {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  
  .seo_home_area {
    background-image: linear-gradient(#3F51B5, white);
    position: relative;
    margin-bottom: 135px;
  }
  
  .seo_home_area .saas_home_img {
    margin-top:0px;
  }.saas_banner_area_three .slider_item .image_mockup .phone{right:0;position:absolute;bottom:46px}.saas_banner_area_three .slider_item .image_mockup .watch{left:0;position:absolute;bottom:0}.saas_banner_area_three .active .image_mockup .laptop{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.seo_home_area{background-image:linear-gradient(#3f51b5,#fff);position:relative;margin-bottom:135px}.seo_home_area .saas_home_img{margin-top:0}.seo_home_area .saas_home_img img{-webkit-box-shadow:none;box-shadow:none;margin-bottom:-140px}.seo_banner_content h2{font-size:40px;line-height:80px;color:#ffc107;text-align:center}.seo_banner_content p{font-size:18px;line-height:30px;color:#fff;margin-bottom:53px;text-align:center}.app_featured_content h2{font-size:25px!important}.seo_banner_content .seo_btn{margin:0 8px}.home_bubble .bubble{position:absolute;border-radius:50%}.home_bubble .bubble.b_four,.home_bubble .bubble.b_one{width:10px;height:10px}.home_bubble .bubble.b_five,.home_bubble .bubble.b_two{width:30px;height:30px}.home_bubble .bubble.b_six,.home_bubble .bubble.b_three{width:14px;height:14px}.home_bubble .bubble.b_one{background:#00c99c;top:40%;left:85px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-animation:spin2 2s infinite alternate;animation:spin2 2s infinite alternate}.home_bubble .bubble.b_two{background:#fca249;top:50%;left:155px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-animation:spin1 2s infinite alternate;animation:spin1 2s infinite alternate}.home_bubble .bubble.b_three{background:#7d95fa;top:85%;left:255px;-webkit-animation:spin1 1s infinite alternate;animation:spin1 1s infinite alternate}.home_bubble .bubble.b_four{background:#d27dfa;top:40%;right:85px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-animation:spin1 2s infinite alternate;animation:spin1 2s infinite alternate}.home_bubble .bubble.b_five{background:#ff9398;top:50%;right:155px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-animation:spin1 3s infinite alternate;animation:spin1 3s infinite alternate}.seo_btn{display:inline-block;padding:11px 40px;border-radius:4px}.seo_btn_one{color:#5e2ced;background:#e8e1fc}.seo_btn_one:hover{background:#5e2ced;color:#fff}.seo_btn_two{color:#00c99c;background:#d4f6ee}.seo_btn_two:hover{background:#00c99c;color:#fff}.seo_subscribe_area{background-color:#5e2ced;padding:59px 0 68px;position:relative;overflow:hidden;z-index:1}.seo_subscribe_area .seo_sec_title h2,.seo_subscribe_area .seo_sec_title p{color:#fff;text-align:center}.seo_subscribe_area .overlay_img{background:url(../images/lms/cloud_bg.png) no-repeat scroll center 0/cover;position:absolute;top:0;width:100%;height:100%;z-index:-1}.seo_subscribe_area .cloud_img{position:absolute;right:0;bottom:-7px;width:300px;height:250px}.seo_subscribe_form{margin:0 auto}.seo_subscribe_form .input-group{padding:0 10px}.seo_subscribe_form .input-group input{font-size:16px;line-height:58px;font-weight:300;border-radius:4px;padding:2px 30px 0}.seo_subscribe_form .input-group .form-control{max-width:400px;color:#949db5;background:#fff;border:0;-webkit-box-shadow:none;box-shadow:none}.seo_subscribe_form .input-group .form-control.placeholder{color:#949db5}.seo_subscribe_form .input-group .form-control:-moz-placeholder{color:#949db5}.seo_subscribe_form .input-group .form-control::-moz-placeholder{color:#949db5}.seo_subscribe_form .input-group .form-control::-webkit-input-placeholder{color:#949db5}.seo_subscribe_form .input-group .check-btn{padding-left:40px;padding-right:40px;background-color:#00c99c;border:0;-webkit-box-shadow:0 10px 30px 0 rgba(18,2,86,.2);box-shadow:0 10px 30px 0 rgba(18,2,86,.2);-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;color:#fff;cursor:pointer}.seo_subscribe_form .input-group .check-btn:hover{-webkit-box-shadow:none;box-shadow:none}.app_featured_area{padding:100px 0;position:relative;z-index:1}.triangle_shape{position:absolute;z-index:-2;height:161%;width:149%;background:#fbfbfd;bottom:-290px;right:-47%;-webkit-transform:rotate(-36deg);-ms-transform:rotate(-36deg);transform:rotate(-36deg)}.app_featured_content{padding:0;margin-top:0}.app_featured_content .learn_btn_two{margin-top:20px;overflow:hidden}.app_featured_content .learn_btn_two:before{background:#4069eb}.app_featured_content .learn_btn_two:hover{color:#4069eb}.app_fetured_item{position:relative;height:100%;margin-left:70px}.app_item{text-align:center;border-radius:6px;width:200px;padding:45px 0 35px;position:absolute;z-index:0}.app_item h6{margin-bottom:0;margin-top:10px;color:#fff}.app_item.item_one{background-image:-moz-linear-gradient(40deg,#e87e16 0,#f0de14 100%);background-image:-webkit-linear-gradient(40deg,#e87e16 0,#f0de14 100%);background-image:-ms-linear-gradient(40deg,#e87e16 0,#f0de14 100%);-webkit-box-shadow:0 20px 40px 0 rgba(224,149,32,.4);box-shadow:0 20px 40px 0 rgba(224,149,32,.4);right:0;top:0;z-index:1}.app_item.item_two{background-image:-moz-linear-gradient(40deg,#5e2ced 0,#a485fd 100%);background-image:-webkit-linear-gradient(40deg,#5e2ced 0,#a485fd 100%);background-image:-ms-linear-gradient(40deg,#5e2ced 0,#a485fd 100%);-webkit-box-shadow:0 20px 40px 0 rgba(94,44,237,.4);box-shadow:0 20px 40px 0 rgba(94,44,237,.4);left:140px;top:90px}.app_item.item_three{background-image:-moz-linear-gradient(40deg,#e03827 0,#f9a47a 100%);background-image:-webkit-linear-gradient(40deg,#e03827 0,#f9a47a 100%);background-image:-ms-linear-gradient(40deg,#e03827 0,#f9a47a 100%);-webkit-box-shadow:0 20px 40px 0 rgba(224,56,39,.4);box-shadow:0 20px 40px 0 rgba(224,56,39,.4);left:0;bottom:0;margin-left:5em}.app_item.item_four{background-image:-moz-linear-gradient(40deg,#2171d4 0,#2cc4f0 100%);background-image:-webkit-linear-gradient(40deg,#2171d4 0,#2cc4f0 100%);background-image:-ms-linear-gradient(40deg,#2171d4 0,#2cc4f0 100%);-webkit-box-shadow:0 20px 40px 0 rgba(44,130,237,.4);box-shadow:0 20px 40px 0 rgba(44,130,237,.4);right:0;bottom:10px}.app_img{position:relative;display:inline-block;z-index:0}.app_img .dot{background:rgba(64,105,235,.161)}.app_img .dot .dot1{background:#6c8bed}.app_img .dot .dot2{background:rgba(64,105,235,.8)}.app_img .dot_one{right:75px;top:35px;left:auto}.app_img .dot_two{right:100px;top:67%;left:auto}.app_img .dot_three{top:38%;left:105px}.app_img .text_bg{position:absolute;z-index:1}.app_img .text_bg.one{left:-50%;top:190px}.app_img .text_bg.two{right:-34%;top:-50px}.app_img .text_bg.three{right:-50%;bottom:100px}.app_featured_area_two{position:relative;padding-bottom:120px}.app_featured_area_two .app_feature_info{margin-top:230px}.tracking_banner_area{background:#efeec9;padding-top:175px}.tracking_banner_content h3{font-size:48px;color:#051441;font-weight:400;line-height:60px}.tracking_banner_content p{color:#666;font-weight:400;font-size:20px;margin-bottom:50px}.tracking_software_logo{padding-left:70px;padding-right:70px;padding-top:60px;padding-bottom:50px;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.tracking_software_logo img{-webkit-filter:grayscale(100%);filter:grayscale(100%);opacity:.25}.tracking_activity_area{padding:2em;background:#f6f6f6}.tracking_item img{margin-right:10px}.tracking_item .media-body h3{margin-bottom:10px;font-size:19px;color:#673ab7}.tracking_item .media-body h3:hover{color:#6754e2}.tracking_item .media-body p{margin-bottom:0}.tracking_price_area{background:#f8ad5d}.tracking_price_inner{max-width:760px;margin:0 auto}.tracking_price_inner h2{color:#fff;text-align:center;font-size:36px;font-weight:700;margin-bottom:0}.tracking_price_inner .track_price{padding-right:70px}.tracking_price_inner .track_price h3{font-size:120px;color:#fff;font-weight:700;line-height:90px;margin-bottom:10px}.tracking_price_inner .track_price h6{color:rgba(255,255,255,.5);font-size:24px;line-height:24px;font-weight:400;text-align:right;margin-bottom:0}.tracking_price_inner .track_body{padding:80px 0}.tracking_price_inner .track_text{border-left:1px solid rgba(255,255,255,.3);padding-left:72px}.tracking_price_inner .track_text h4{color:#fff;font-size:30px;font-weight:600;margin-bottom:18px}.tracking_price_inner .track_text ul{margin-bottom:0}.tracking_price_inner .track_text ul li{font-size:18px;color:#fff}.tracking_price_inner .track_text ul li i{font-size:16px;margin-right:7px}.tracking_price_inner .software_banner_btn{font-size:16px;background-color:#6754e2;-webkit-box-shadow:none;box-shadow:none}.tracking_price_inner .software_banner_btn:hover{-webkit-box-shadow:0 17px 35px 0 rgba(103,84,226,.27);box-shadow:0 17px 35px 0 rgba(103,84,226,.27);color:#fff}.tracking_price_inner h6{color:rgba(255,255,255,.5);font-size:14px;margin-bottom:0;margin-top:20px}.tracking_getting_area{text-align:center;background:url(../images/lms/cta_pattern_bg.jpg) no-repeat scroll center 0/cover;padding:4em}.tracking_getting_area h2{font-weight:700;font-size:36px;color:#222}.tracking_getting_area .software_banner_btn{background-color:#673ab7;font-size:16px;-webkit-box-shadow:0 17px 35px 0 rgba(103,84,226,.27);padding:17px 60px;margin-top:0;color:#fff}.tracking_getting_area .software_banner_btn:hover{-webkit-box-shadow:none;box-shadow:none;color:#fff}.agency_featured_area{padding-top:0;background:#f1ecff}.agency_featured_area_two{padding-bottom:150px}.features_info{position:relative;padding-bottom:170px}.features_info .dot_img{position:absolute;left:0;top:28px}.features_info.feature_info_two{padding-bottom:70px}.dot{width:20px;height:20px;border-radius:50%;background-color:rgba(255,161,39,.161);display:block;position:absolute;left:-9px;top:15px;z-index:1}.dot .dot1{position:absolute;left:50%;margin-top:-4px;margin-left:-4px;top:50%;width:8px;height:8px;border-radius:50%;background:#feb85d}.dot .dot2{position:absolute;left:50%;top:50%;width:8px;height:8px;border-radius:50%;background:rgba(254,184,93,.8);-webkit-animation:pulsate 3s infinite;animation:pulsate 3s infinite;-webkit-animation-delay:1.5s;animation-delay:1.5s;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);will-change:transform}.dot.middle_dot{left:54.8%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);bottom:0;top:auto}.agency_featured_item{margin-top:25px}.agency_featured_item .agency_featured_content{position:relative}.agency_featured_item .agency_featured_content h3{font:500 26px/36px Poppins,sans-serif;color:#222d39;margin:32px 0 25px}.agency_featured_item .agency_featured_content p{font-size:15px}.agency_featured_item .agency_featured_content .icon{width:46px;height:46px;line-height:46px;border-radius:50%;background-image:-moz-linear-gradient(40deg,#5e2ced 0,#a485fd 100%);background-image:-webkit-linear-gradient(40deg,#5e2ced 0,#a485fd 100%);background-image:-ms-linear-gradient(40deg,#5e2ced 0,#a485fd 100%);-webkit-box-shadow:0 10px 20px 0 rgba(94,44,237,.2);box-shadow:0 10px 20px 0 rgba(94,44,237,.2);font-size:20px;color:#fff;display:inline-block;text-align:center}.agency_featured_item.agency_featured_item_two .agency_featured_content .dot{left:30px}.agency_featured_item .agency_featured_content h3{font:500 26px/36px Poppins,sans-serif;color:#222d39;margin:32px 0 25px}.agency_featured_item .agency_featured_content p{font-size:16px;color:#424242}.features_info .dot_img{position:absolute;left:0;top:28px}.pr_70{padding-right:70px}.pl_70{padding-left:70px}
  
  .seo_home_area .saas_home_img img {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: -140px;
  }
  .seo_banner_content h2 {
    font-size: 40px;
    line-height: 80px;
    color: #FFC107;
    text-align: center;
}
.seo_banner_content p {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 53px;
    text-align: center;
}
.app_featured_content h2 {
    font-size: 25px!important;
}
  .seo_banner_content .seo_btn {
    margin: 0px 8px;
  }
  
  .home_bubble .bubble {
    position: absolute;
    border-radius: 50%;
  }
  
  .home_bubble .bubble.b_one, .home_bubble .bubble.b_four {
    width: 10px;
    height: 10px;
  }
  
  .home_bubble .bubble.b_two, .home_bubble .bubble.b_five {
    width: 30px;
    height: 30px;
  }
  
  .home_bubble .bubble.b_three, .home_bubble .bubble.b_six {
    width: 14px;
    height: 14px;
  }
  
  .home_bubble .bubble.b_one {
    background: #00c99c;
    top: 40%;
    left: 85px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: spin2 2s infinite alternate;
    animation: spin2 2s infinite alternate;
  }
  
  .home_bubble .bubble.b_two {
    background: #fca249;
    top: 50%;
    left: 155px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: spin1 2s infinite alternate;
    animation: spin1 2s infinite alternate;
  }
  
  .home_bubble .bubble.b_three {
    background: #7d95fa;
    top: 85%;
    left: 255px;
    -webkit-animation: spin1 1s infinite alternate;
    animation: spin1 1s infinite alternate;
  }
  
  .home_bubble .bubble.b_four {
    background: #d27dfa;
    top: 40%;
    right: 85px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: spin1 2s infinite alternate;
    animation: spin1 2s infinite alternate;
  }
  
  .home_bubble .bubble.b_five {
    background: #ff9398;
    top: 50%;
    right: 155px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: spin1 3s infinite alternate;
    animation: spin1 3s infinite alternate;
  }

  .seo_btn {
    display: inline-block;
    padding: 11px 40px;
    border-radius: 4px;
  }
  
  .seo_btn_one {
    color: #5e2ced;
    background: #e8e1fc;
  }
  
  .seo_btn_one:hover {
    background: #5e2ced;
    color: #fff;
  }
  
  .seo_btn_two {
    color: #00c99c;
    background: #d4f6ee;
  }
  
  .seo_btn_two:hover {
    background: #00c99c;
    color: #fff;
  }

  

  
/*=============== seo_subscribe_area css ============*/
.seo_subscribe_area {
    background-color: #5e2ced;
    padding: 59px 0px 68px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
  .seo_subscribe_area .seo_sec_title h2, .seo_subscribe_area .seo_sec_title p {
    color: #fff;
    text-align: center;
  }
  
  .seo_subscribe_area .overlay_img {
    background: url('../images/lms/cloud_bg.png') no-repeat scroll center 0/cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .seo_subscribe_area .cloud_img {
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 300px;
    height: 250px;
  }
  
  .seo_subscribe_form {
    margin: 0 auto;
  }
  
  .seo_subscribe_form .input-group {
    padding: 0px 10px;
  }
  
  .seo_subscribe_form .input-group input {
    font-size: 16px;
    line-height: 58px;
    font-weight: 300;
    border-radius: 4px;
    padding: 2px 30px 0px;
  }
  
  .seo_subscribe_form .input-group .form-control {
    max-width: 400px;
    color: #949db5;
    background: #fff;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .seo_subscribe_form .input-group .form-control.placeholder {
    color: #949db5;
  }
  
  .seo_subscribe_form .input-group .form-control:-moz-placeholder {
    color: #949db5;
  }
  
  .seo_subscribe_form .input-group .form-control::-moz-placeholder {
    color: #949db5;
  }
  
  .seo_subscribe_form .input-group .form-control::-webkit-input-placeholder {
    color: #949db5;
  }
  
  .seo_subscribe_form .input-group .check-btn {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #00c99c;
    border: 0px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(18, 2, 86, 0.2);
    box-shadow: 0px 10px 30px 0px rgba(18, 2, 86, 0.2);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #fff;
    cursor: pointer;
  }
  
  .seo_subscribe_form .input-group .check-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /*=============== seo_subscribe_area css ============*


  /*=============== app_featured_area css ===============*/
.app_featured_area {
    padding: 100px 0px;
    position: relative;
    z-index: 1;
  }
  
  .triangle_shape {
    position: absolute;
    z-index: -2;
    height: 161%;
    width: 149%;
    background: #fbfbfd;
    bottom: -290px;
    right: -47%;
    -webkit-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    transform: rotate(-36deg);
  }
  
  .app_featured_content {
    padding: 0px;
    margin-top: 0em;
}
  .app_featured_content .learn_btn_two {
    margin-top: 20px;
    overflow: hidden;
  }
  
  .app_featured_content .learn_btn_two:before {
    background: #4069eb;
  }
  
  .app_featured_content .learn_btn_two:hover {
    color: #4069eb;
  }
  
  .app_fetured_item {
    position: relative;
    height: 100%;
    margin-left: 70px;
  }
  
  .app_item {
    text-align: center;
    border-radius: 6px;
    width: 200px;
    padding: 45px 0px 35px;
    position: absolute;
    z-index: 0;
  }
  
  .app_item h6 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #fff;
}
  
  .app_item.item_one {
    background-image: -moz-linear-gradient(40deg, #e87e16 0%, #f0de14 100%);
    background-image: -webkit-linear-gradient(40deg, #e87e16 0%, #f0de14 100%);
    background-image: -ms-linear-gradient(40deg, #e87e16 0%, #f0de14 100%);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(224, 149, 32, 0.4);
    box-shadow: 0px 20px 40px 0px rgba(224, 149, 32, 0.4);
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .app_item.item_two {
    background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(94, 44, 237, 0.4);
    box-shadow: 0px 20px 40px 0px rgba(94, 44, 237, 0.4);
    left: 140px;
    top: 90px;
  }
  
  .app_item.item_three {
    background-image: -moz-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
    background-image: -webkit-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
    background-image: -ms-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(224, 56, 39, 0.4);
    box-shadow: 0px 20px 40px 0px rgba(224, 56, 39, 0.4);
    left: 0;
    bottom: 0px;
    margin-left: 5em;
    /* margin-top: -10em; */
}
  .app_item.item_four {
    background-image: -moz-linear-gradient(40deg, #2171d4 0%, #2cc4f0 100%);
    background-image: -webkit-linear-gradient(40deg, #2171d4 0%, #2cc4f0 100%);
    background-image: -ms-linear-gradient(40deg, #2171d4 0%, #2cc4f0 100%);
    -webkit-box-shadow: 0px 20px 40px 0px rgba(44, 130, 237, 0.4);
    box-shadow: 0px 20px 40px 0px rgba(44, 130, 237, 0.4);
    right: 0;
    bottom: 10px;
  }
  
  .app_img {
    position: relative;
    display: inline-block;
    z-index: 0;
  }
  
  .app_img .dot {
    background: rgba(64, 105, 235, 0.161);
  }
  
  .app_img .dot .dot1 {
    background: #6c8bed;
  }
  
  .app_img .dot .dot2 {
    background: rgba(64, 105, 235, 0.8);
  }
  
  .app_img .dot_one {
    right: 75px;
    top: 35px;
    left: auto;
  }
  
  .app_img .dot_two {
    right: 100px;
    top: 67%;
    left: auto;
  }
  
  .app_img .dot_three {
    top: 38%;
    left: 105px;
  }
  
  .app_img .text_bg {
    position: absolute;
    z-index: 1;
  }
  
  .app_img .text_bg.one {
    left: -50%;
    top: 190px;
  }
  
  .app_img .text_bg.two {
    right: -34%;
    top: -50px;
  }
  
  .app_img .text_bg.three {
    right: -50%;
    bottom: 100px;
  }
  
  .app_featured_area_two {
    position: relative;
    padding-bottom: 120px;
  }
  
  .app_featured_area_two .app_feature_info {
    margin-top: 230px;
  }
  
  /*=============== saas_features_area_two css ==============*/

/*=========== tracking_banner_area css =============*/
.tracking_banner_area {
    background: #efeec9;
    padding-top: 175px;
  }
  
  .tracking_banner_content h3 {
    font-size: 48px;
    color: #051441;
    font-weight: 400;
    line-height: 60px;
  }
  
  .tracking_banner_content p {
    color: #666666;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  .tracking_software_logo {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .tracking_software_logo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.25;
  }
  
  /*============ tracking_activity_area css ==============*/
  .tracking_activity_area {
    padding: 2em;
    background: #f6f6f6;
  }
  
  .tracking_item img {
    margin-right: 10px;
  }
  
  .tracking_item .media-body h3 {
    /* font-weight: 600; */
    margin-bottom: 10px;
    font-size: 19px;
    color: #673AB7;
}
  
  .tracking_item .media-body h3:hover {
    color: #6754e2;
  }
  
  .tracking_item .media-body p {
    margin-bottom: 0;
  }
  

  .tracking_price_area {
    background: #f8ad5d;
  }
  
  .tracking_price_inner {
    max-width: 760px;
    margin: 0 auto;
  }
  
  .tracking_price_inner h2 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
  }
  
  .tracking_price_inner .track_price {
    padding-right: 70px;
  }
  
  .tracking_price_inner .track_price h3 {
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 10px;
  }
  
  .tracking_price_inner .track_price h6 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 0;
  }
  
  .tracking_price_inner .track_body {
    padding: 80px 0px;
  }
  
  .tracking_price_inner .track_text {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 72px;
  }
  
  .tracking_price_inner .track_text h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  
  .tracking_price_inner .track_text ul {
    margin-bottom: 0;
  }
  
  .tracking_price_inner .track_text ul li {
    font-size: 18px;
    color: #fff;
  }
  
  .tracking_price_inner .track_text ul li i {
    font-size: 16px;
    margin-right: 7px;
  }
  
  .tracking_price_inner .software_banner_btn {
    font-size: 16px;
    background-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .tracking_price_inner .software_banner_btn:hover {
    -webkit-box-shadow: 0px 17px 35px 0px rgba(103, 84, 226, 0.27);
    box-shadow: 0px 17px 35px 0px rgba(103, 84, 226, 0.27);
    color: #fff;
  }
  
  .tracking_price_inner h6 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .tracking_getting_area {
    text-align: center;
    background: url(../images/lms/cta_pattern_bg.jpg) no-repeat scroll center 0/cover;
    padding: 4em;
}
  
  .tracking_getting_area h2 {
    font-weight: 700;
    font-size: 36px;
    color: #222;
  }
  
  .tracking_getting_area .software_banner_btn {
    background-color: #673AB7;
    font-size: 16px;
    -webkit-box-shadow: 0px 17px 35px 0px rgba(103, 84, 226, 0.27);
    /* box-shadow: 0px 17px 35px 0px rgba(103, 84, 226, 0.27); */
    padding: 17px 60px;
    margin-top: 0em;
    color: #fff;
}
  
  .tracking_getting_area .software_banner_btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
  }

  
/*============== agency_featured_area css =============*/
.agency_featured_area {
    padding-top: 0px;
    background: #f1ecff;
}
  .agency_featured_area_two {
    padding-bottom: 150px;
  }
  
  .features_info {
    position: relative;
    padding-bottom: 170px;
  }
  
  .features_info .dot_img {
    position: absolute;
    left: 0;
    top: 28px;
  }
  
  .features_info.feature_info_two {
    padding-bottom: 70px;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 161, 39, 0.161);
    display: block;
    position: absolute;
    left: -9px;
    top: 15px;
    z-index: 1;
  }
  
  .dot .dot1 {
    position: absolute;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #feb85d;
  }
  
  .dot .dot2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(254, 184, 93, 0.8);
    -webkit-animation: pulsate 3s infinite;
    animation: pulsate 3s infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    will-change: transform;
  }
  
  .dot.middle_dot {
    left: 54.8%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    top: auto;
  }
  
  .agency_featured_item {
    margin-top: 25px;
  }
  
  .agency_featured_item .agency_featured_content {
    position: relative;
  }
  
  .agency_featured_item .agency_featured_content h3 {
    font: 500 26px/36px "Poppins", sans-serif;
    color: #222d39;
    margin: 32px 0px 25px;
  }
  
  .agency_featured_item .agency_featured_content p {
    font-size: 15px;
  }
  
  .agency_featured_item .agency_featured_content .icon {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(94, 44, 237, 0.2);
    box-shadow: 0px 10px 20px 0px rgba(94, 44, 237, 0.2);
    font-size: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
  }
  
  .agency_featured_item.agency_featured_item_two .agency_featured_content .dot {
    left: 30px;
  }
  .agency_featured_item .agency_featured_content h3 {
    font: 500 26px/36px "Poppins", sans-serif;
    color: #222d39;
    margin: 32px 0px 25px;
}
.agency_featured_item .agency_featured_content p {
    font-size: 16px;
    color: #424242;
}
.features_info .dot_img {
    position: absolute;
    left: 0;
    top: 28px;
}
.pr_70 {
    padding-right: 70px;
}
.pl_70 {
    padding-left: 70px;
}
  