/*=========== erp_features_area css =============*/
.erp_item_features + .erp_item_features {
  margin-top:100px;
}
.erp_features_img_two {
  position: relative;
}

.erp_features_img_two .img_icon {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  color: #fff;
  line-height: 112px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: -55px;
  z-index: 1;
}

.erp_features_img_two .img_icon .pluse_1, .erp_features_img_two .img_icon .pluse_2 {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  left: 50%;.erp_item_features+.erp_item_features{margin-top:100px}.erp_features_img_two{position:relative}.erp_features_img_two .img_icon{width:110px;height:110px;border-radius:50%;color:#fff;line-height:112px;font-size:24px;text-align:center;position:absolute;top:0;right:-55px;z-index:1}.erp_features_img_two .img_icon .pluse_1,.erp_features_img_two .img_icon .pluse_2{content:'';width:100%;height:100%;position:absolute;border-radius:50%;z-index:-1;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:rgba(243,186,14,.102)}.erp_features_img_two .img_icon .pluse_1:after,.erp_features_img_two .img_icon .pluse_1:before,.erp_features_img_two .img_icon .pluse_2:after,.erp_features_img_two .img_icon .pluse_2:before{content:'';position:absolute;background:rgba(243,186,14,.13);border-radius:50%;left:50%;top:50%;margin-left:-40px;margin-top:-40px}.erp_features_img_two .img_icon .pluse_1:before,.erp_features_img_two .img_icon .pluse_2:before{width:80px;height:80px}.erp_features_img_two .img_icon .pluse_1:after,.erp_features_img_two .img_icon .pluse_2:after{width:60px;height:60px;background:#f3ba0e;margin-left:-30px;margin-top:-30px}.erp_features_img_two .img_icon.red .pluse_1,.erp_features_img_two .img_icon.red .pluse_2{background:rgba(249,62,94,.102)}.erp_features_img_two .img_icon.red .pluse_1:after,.erp_features_img_two .img_icon.red .pluse_1:before,.erp_features_img_two .img_icon.red .pluse_2:after,.erp_features_img_two .img_icon.red .pluse_2:before{background:rgba(249,62,94,.13)}.erp_features_img_two .img_icon.red .pluse_1:after,.erp_features_img_two .img_icon.red .pluse_2:after{background:#f93e5e}.erp_features_img_two .img_icon.green .pluse_1,.erp_features_img_two .img_icon.green .pluse_2{background:rgba(112,215,21,.102)}.erp_features_img_two .img_icon.green .pluse_1:after,.erp_features_img_two .img_icon.green .pluse_1:before,.erp_features_img_two .img_icon.green .pluse_2:after,.erp_features_img_two .img_icon.green .pluse_2:before{background:rgba(112,215,21,.13)}.erp_features_img_two .img_icon.green .pluse_1:after,.erp_features_img_two .img_icon.green .pluse_2:after{background:#70d715}.erp_features_img_two .img_icon .pluse_1{-webkit-animation:pulsates 3s infinite linear;animation:pulsates 3s infinite linear}.erp_features_img_two .img_icon .pluse_2{background:0 0!important}.erp_features_img_two .img_icon .pluse_2:before{-webkit-animation:pulsates 3s infinite linear;animation:pulsates 3s infinite linear;-webkit-animation-delay:1s;animation-delay:1s;margin-left:0;margin-top:0}.erp_features_img_two img{-webkit-box-shadow:0 25px 100px 0 rgba(1,1,64,.1);box-shadow:0 25px 100px 0 rgba(1,1,64,.1)}@-webkit-keyframes pulsates{0%{opacity:1;-webkit-transform:translate(-50%,-50%) scale(.3);transform:translate(-50%,-50%) scale(.3)}100%{opacity:0;-webkit-transform:translate(-50%,-50%) scale(2);transform:translate(-50%,-50%) scale(2)}}@keyframes pulsates{0%{opacity:1;-webkit-transform:translate(-50%,-50%) scale(.3);transform:translate(-50%,-50%) scale(.3)}100%{opacity:0;-webkit-transform:translate(-50%,-50%) scale(2);transform:translate(-50%,-50%) scale(2)}}.erp_content_two .erp_title{margin-bottom:40px;margin-top:0}.erp_content_two .erp_title h2{line-height:44px;margin-bottom:20px;text-align:initial}.erp_content_two .erp_item{margin-top:24px;display:flex}.erp_content_two .erp_item .icon{width:50px;height:50px;border-radius:50%;background-color:#f93e5e;-webkit-box-shadow:0 20px 30px 0 rgba(172,20,46,.24);box-shadow:0 20px 30px 0 rgba(172,20,46,.24);text-align:center;font-size:20px;line-height:52px;color:#fff;margin-right:20px}.erp_content_two .erp_item .icon.green{background:#70d715;-webkit-box-shadow:0 20px 30px 0 rgba(91,171,21,.24);box-shadow:0 20px 30px 0 rgba(91,171,21,.24)}.erp_content_two .erp_item .icon.blue{background:#3e89f9;-webkit-box-shadow:0 20px 30px 0 rgba(21,81,171,.24);box-shadow:0 20px 30px 0 rgba(21,81,171,.24)}.erp_content_two .erp_item .icon.yellow{-webkit-box-shadow:0 20px 30px 0 rgba(171,133,21,.24);box-shadow:0 20px 30px 0 rgba(171,133,21,.24);background:#f3ba0e}.erp_content_two .erp_item .icon.purple{-webkit-box-shadow:0 20px 30px 0 rgba(138,21,171,.24);box-shadow:0 20px 30px 0 rgba(138,21,171,.24);background:#d02cff}.erp_content_two .erp_item .icon.green_two{-webkit-box-shadow:0 20px 30px 0 rgba(21,168,171,.24);box-shadow:0 20px 30px 0 rgba(21,168,171,.24);background:#17d2d4}.erp_content_two .erp_item .media-body h5{margin-bottom:0;font-size:18px;line-height:22px;color:#2c2c51}.erp_content_two .erp_btn_learn{font-size:16px;line-height:20px;color:#4e78f4;font-weight:500;display:inline-block;margin-top:40px}.erp_content_two .erp_btn_learn i{vertical-align:middle;padding-left:8px}.flex-row-reverse .erp_features_img_two .img_icon{left:-53px;right:auto}.flex-row-reverse .erp_content_two{padding-right:125px;padding-left:0}.hosting_service_area{position:relative}.hosting_title{margin-bottom:70px;text-align:center}.hosting_title h2{font-size:40px;line-height:55px;font-weight:600;color:#3f51b5;margin-bottom:15px}.hosting_title p{color:#424242;font-size:16px;font-weight:400;margin-bottom:0;text-align:justify}.hosting_title .w_color{color:#fff}.hosting_service_item{padding:60px 40px;border-top:6px solid transparent;border-radius:6px;-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;cursor:pointer}.hosting_service_item .icon{width:70px;height:60px;line-height:60px;border-radius:6px;background:#fff7f7;text-align:center;margin-bottom:37px}.hosting_service_item p{color:#7b7b93;margin-bottom:0;font-weight:400}.hosting_service_item:hover{border-color:#f6626a;background:#fff;-webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)}.pattern_shap{position:absolute;width:125px;height:225px;left:0;top:200px}.pos_service_info .hosting_service_item{padding:45px 40px}.pos_service_info .hosting_service_item h4:hover{color:#5e53fb}.pos_service_info .hosting_service_item img{margin-bottom:33px}.pos_service_info .hosting_service_item:hover{border-color:#5e53fb;-webkit-box-shadow:0 50px 100px 0 rgba(5,1,64,.1),0 -5px 0 0 rgba(95,84,253,.004);box-shadow:0 50px 100px 0 rgba(5,1,64,.1),0 -5px 0 0 rgba(95,84,253,.004)}.h_head{font-size:20px;font-weight:100;color:#3f51b5;margin-bottom:20px;-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}a .h_head:hover{color:#f6626a}.hosting_features_area{padding-bottom:140px}.h_features_content{padding-right:80px}.h_features_content .hosting_title{margin-bottom:40px}.h_features_content .hosting_title h2{font-weight:500}.h_features_item{padding-right:150px}.h_features_item img{margin-right:20px}.h_features_item .h_head{margin-bottom:10px}.h_features_item p{margin-bottom:0;font-weight:400}.h_features_item+.h_features_item{margin-top:35px}.h_action_area{background:#020230;padding:80px 0}.h_action_content h2{color:#fff;font-size:40px;font-weight:600;line-height:54px;margin-bottom:32px}.h_action_content p{color:#b4b4d3;margin-bottom:42px}.h_blog_item{background-color:#fff;-webkit-box-shadow:0 30px 50px 0 rgba(64,1,4,.06);box-shadow:0 30px 50px 0 rgba(64,1,4,.06);-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}.h_blog_item img{width:100%}.h_blog_item .h_blog_content{padding:25px 40px 30px}.h_blog_item .h_blog_content h3{font-size:24px;line-height:34px;font-weight:500;color:#2c2c51;-webkit-transition:color .2s linear;-o-transition:color .2s linear;transition:color .2s linear}.h_blog_item .h_blog_content h3:hover{color:#f8636b}.h_blog_item .h_blog_content .post_time{font-size:14px;color:#7b7b93;font-weight:500;text-transform:uppercase;margin-bottom:10px;display:inline-block}.h_blog_item .h_blog_content .post_time i{color:#f8636b;margin-right:5px}.h_blog_item .h_blog_content .post-info-bottom{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-top:15px}.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two{margin-top:0;font-size:14px;line-height:16px;color:#7b7b93;text-transform:uppercase;font-weight:500;position:relative}.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:before{content:"";height:1px;background:#f8636b;position:absolute;bottom:0;width:0;-webkit-transition:width .2s linear;-o-transition:width .2s linear;transition:width .2s linear}.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover{color:#f8636b}.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover:before{width:100%}.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover i{padding-left:5px}.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two i{vertical-align:inherit;padding-left:0;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}.h_blog_item .h_blog_content .post-info-bottom .post-info-comments{color:#7b7b93;text-transform:uppercase;font-weight:500;font-size:14px;line-height:16px}.h_blog_item .h_blog_content .post-info-bottom .post-info-comments i{color:#f8636b;padding-right:3px}.h_blog_item:hover{-webkit-box-shadow:0 30px 50px 0 rgba(64,1,4,.08);box-shadow:0 30px 50px 0 rgba(64,1,4,.08)}.pos_blog_item{border-radius:6px;background-color:#fff;-webkit-box-shadow:0 30px 50px 0 rgba(5,1,64,.06);box-shadow:0 30px 50px 0 rgba(5,1,64,.06)}.pos_blog_item .h_blog_content{padding-left:35px;padding-right:35px}.pos_blog_item .h_blog_content .post_time i{color:#5f54fd}.pos_blog_item .h_blog_content h3{font-size:20px;line-height:30px}.pos_blog_item .h_blog_content h3:hover{color:#5f54fd}.pos_blog_item .h_blog_content .post-info-bottom .learn_btn_two:before{background:#5f54fd}.pos_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover{color:#5f54fd}.pos_blog_item .h_blog_content .post-info-bottom .post-info-comments i{color:#5f54fd}.pos_blog_item:hover{-webkit-box-shadow:0 30px 50px 0 rgba(5,1,64,.08);box-shadow:0 30px 50px 0 rgba(5,1,64,.08)}.erp_service_area{padding-top:120px}.erp_title h2{font-size:23px}.erp_title h2 span{color:red}.erp_service_item{margin-bottom:30px;text-align:center}.erp_service_item img{margin-bottom:5px}.erp_service_item .h_head:hover{color:#4e78f4}.erp_service_item p{font-weight:400;margin-bottom:0;color:#424242}.erp_action_area{background:#3f51b5;padding:58px 0}.erp_content h2{color:#fff;font-size:34px;line-height:52px;letter-spacing:.25px;font-weight:300;text-align:center}.erp_content h2 strong{font-weight:700}.analytices_title span{display:block;font-weight:300;color:#2c2c51}.analytices_title p{font-weight:400;color:#7b7b93;font-size:16px;max-width:700px;margin:0 auto}.setup_inner{max-width:830px;margin:-30px auto 0}.setup_inner .setup_item{-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:30px 0;position:relative}.setup_inner .setup_item.flex-row-reverse .setup_content{text-align:right;padding-right:30px;padding-left:0}.setup_inner .setup_item .setup_img{text-align:center}.setup_inner .setup_item .round{border-radius:50%;background-color:#fff;-webkit-box-shadow:0 10px 30px 0 rgba(1,1,64,.08);box-shadow:0 10px 30px 0 rgba(1,1,64,.08);width:80px;height:80px;text-align:center;margin:0 auto;font-size:30px;color:#4e78f4;font-weight:500;line-height:80px}.setup_inner .setup_item .line{position:absolute;left:50%;top:0;width:0;height:100%;border-right:2px dashed #000;opacity:.3;margin-left:-1px;z-index:-1}.setup_inner .setup_item:first-child .line{top:50%;height:50%}.setup_inner .setup_item:last-child .line{top:0;height:50%}.setup_inner .setup_content{padding-left:0}.setup_inner .setup_content h5{font-size:20px;font-weight:100;color:#3f51b5;line-height:28px;margin-bottom:15px}.setup_inner .setup_content p{font-size:16px;color:#7b7b93;font-weight:400;margin-bottom:0}.analytices_price_item{border:1px solid #f0f0f6;border-radius:5px;padding:40px;cursor:pointer;-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}.analytices_price_item .p_head{text-align:center;border-bottom:1px solid #ececf6;padding-bottom:30px}.analytices_price_item .p_head h5{font-size:20px;font-weight:500;color:#2c2c51}.analytices_price_item .p_head .rate{font-size:34px;font-weight:600;color:#4e78f4;padding-bottom:13px;padding-top:22px}.analytices_price_item .p_head h6{font-size:16px;color:#7b7b93;font-weight:400}.analytices_price_item .p_head .tag{color:#2cc91d}.analytices_price_item .p_head .tag i{margin-right:8px;vertical-align:middle}.analytices_price_item .p_body{padding-top:20px;margin-bottom:0}.analytices_price_item .p_body li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;font-size:16px;color:#7b7b93;font-size:400;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:12px 0}.analytices_price_item .p_body li i{font-size:14px}.analytices_price_item .er_btn{margin-top:40px;display:block;text-align:center}.analytices_price_item.active,.analytices_price_item:hover{-webkit-box-shadow:0 40px 80px 0 rgba(1,1,64,.08);box-shadow:0 40px 80px 0 rgba(1,1,64,.08);border-color:#fff}.analytices_price_item.active .p_body li,.analytices_price_item:hover .p_body li{color:#2c2c51}.analytices_price_item.active .p_body li .ti-check,.analytices_price_item:hover .p_body li .ti-check{color:#26da15}.analytices_price_item.active .p_body li .ti-close,.analytices_price_item:hover .p_body li .ti-close{color:#fc314e}.sec_pad{padding:60px 0}.h_analytices_features_item .h_analytices_content ul{margin-bottom:0;border-top:1px solid #ececf6;padding-top:12px}.h_analytices_features_item .h_analytices_content ul li{font-size:16px;line-height:28px;color:#7b7b93;font-weight:400;position:relative;padding-left:20px;margin-top:20px}.h_analytices_features_item .h_analytices_content ul li span{font-weight:500;color:#2c2c51}.erp_call_action_area{background:#3f51b5;padding:2em}.erp_action_content img{margin-bottom:32px}.erp_action_content h3{font-size:38px;color:#fff;line-height:21px;margin-bottom:18px;text-align:center}.erp_action_content p{font-size:23px;color:#fff;font-weight:400;text-align:center}.erp_action_content p span{font-weight:700;color:#4e78f4}.erp_action_content .er_btn{margin-top:40px}.er_btn_two{background:#4e78f4;border-color:#4e78f4;color:#fff;-webkit-box-shadow:0 20px 30px 0 rgba(45,93,237,.1);box-shadow:0 20px 30px 0 rgba(45,93,237,.1)}.er_btn_two:hover{-webkit-box-shadow:none;box-shadow:none;border-color:#c8d4fa;background:0 0;color:#4e78f4}.erp_customer_logo_area{padding-top:120px}.erp_customer_logo_area .er_btn{margin-top:140px}.erp_action_content .er_btn{margin-top:15px;color:#ffff}.er_btn_two{background:#4e78f4;border-color:#4e78f4;color:#fff;-webkit-box-shadow:0 20px 30px 0 rgba(45,93,237,.1);box-shadow:0 20px 30px 0 rgba(45,93,237,.1)}.er_btn{border:2px solid #c8d4fa;font-size:16px;font-weight:500;color:#4e78f4;font-family:Poppins,sans-serif;border-radius:45px;line-height:26px;padding:8px 27px;display:inline-block;margin-top:60px;-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(243, 186, 14, 0.102);
}

.erp_features_img_two .img_icon .pluse_1:before, .erp_features_img_two .img_icon .pluse_1:after, .erp_features_img_two .img_icon .pluse_2:before, .erp_features_img_two .img_icon .pluse_2:after {
  content: '';
  position: absolute;
  background: rgba(243, 186, 14, 0.13);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.erp_features_img_two .img_icon .pluse_1:before, .erp_features_img_two .img_icon .pluse_2:before {
  width: 80px;
  height: 80px;
}

.erp_features_img_two .img_icon .pluse_1:after, .erp_features_img_two .img_icon .pluse_2:after {
  width: 60px;
  height: 60px;
  background: #f3ba0e;
  margin-left: -30px;
  margin-top: -30px;
}

.erp_features_img_two .img_icon.red .pluse_1, .erp_features_img_two .img_icon.red .pluse_2 {
  background: rgba(249, 62, 94, 0.102);
}

.erp_features_img_two .img_icon.red .pluse_1:before, .erp_features_img_two .img_icon.red .pluse_1:after, .erp_features_img_two .img_icon.red .pluse_2:before, .erp_features_img_two .img_icon.red .pluse_2:after {
  background: rgba(249, 62, 94, 0.13);
}

.erp_features_img_two .img_icon.red .pluse_1:after, .erp_features_img_two .img_icon.red .pluse_2:after {
  background: #f93e5e;
}

.erp_features_img_two .img_icon.green .pluse_1, .erp_features_img_two .img_icon.green .pluse_2 {
  background: rgba(112, 215, 21, 0.102);
}

.erp_features_img_two .img_icon.green .pluse_1:before, .erp_features_img_two .img_icon.green .pluse_1:after, .erp_features_img_two .img_icon.green .pluse_2:before, .erp_features_img_two .img_icon.green .pluse_2:after {
  background: rgba(112, 215, 21, 0.13);
}

.erp_features_img_two .img_icon.green .pluse_1:after, .erp_features_img_two .img_icon.green .pluse_2:after {
  background: #70d715;
}

.erp_features_img_two .img_icon .pluse_1 {
  -webkit-animation: pulsates 3s infinite linear;
  animation: pulsates 3s infinite linear;
}

.erp_features_img_two .img_icon .pluse_2 {
  background: transparent !important;
}

.erp_features_img_two .img_icon .pluse_2:before {
  -webkit-animation: pulsates 3s infinite linear;
  animation: pulsates 3s infinite linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  margin-left: 0;
  margin-top: 0;
}

.erp_features_img_two img {
  -webkit-box-shadow: 0px 25px 100px 0px rgba(1, 1, 64, 0.1);
  box-shadow: 0px 25px 100px 0px rgba(1, 1, 64, 0.1);
}

@-webkit-keyframes pulsates {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }
}

@keyframes pulsates {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }
}

.erp_content_two .erp_title {
  margin-bottom: 40px;
  margin-top: 0em;
}
.erp_content_two .erp_title h2 {
  line-height: 44px;
  margin-bottom: 20px;
  text-align: initial;
}
.erp_content_two .erp_item {

  margin-top: 24px;
  display: flex;
}

.erp_content_two .erp_item .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f93e5e;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(172, 20, 46, 0.24);
  box-shadow: 0px 20px 30px 0px rgba(172, 20, 46, 0.24);
  text-align: center;
  font-size: 20px;
  line-height: 52px;
  color: #fff;
  margin-right: 20px;
}

.erp_content_two .erp_item .icon.green {
  background: #70d715;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(91, 171, 21, 0.24);
  box-shadow: 0px 20px 30px 0px rgba(91, 171, 21, 0.24);
}

.erp_content_two .erp_item .icon.blue {
  background: #3e89f9;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(21, 81, 171, 0.24);
  box-shadow: 0px 20px 30px 0px rgba(21, 81, 171, 0.24);
}

.erp_content_two .erp_item .icon.yellow {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(171, 133, 21, 0.24);
  box-shadow: 0px 20px 30px 0px rgba(171, 133, 21, 0.24);
  background: #f3ba0e;
}

.erp_content_two .erp_item .icon.purple {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(138, 21, 171, 0.24);
  box-shadow: 0px 20px 30px 0px rgba(138, 21, 171, 0.24);
  background: #d02cff;
}

.erp_content_two .erp_item .icon.green_two {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(21, 168, 171, 0.24);
  box-shadow: 0px 20px 30px 0px rgba(21, 168, 171, 0.24);
  background: #17d2d4;
}

.erp_content_two .erp_item .media-body h5 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c51;
}

.erp_content_two .erp_btn_learn {
  font-size: 16px;
  line-height: 20px;
  color: #4e78f4;
  font-weight: 500;
  display: inline-block;
  margin-top: 40px;
}

.erp_content_two .erp_btn_learn i {
  vertical-align: middle;
  padding-left: 8px;
}

.flex-row-reverse .erp_features_img_two .img_icon {
  left: -53px;
  right: auto;
}

.flex-row-reverse .erp_content_two {
  padding-right: 125px;
  padding-left: 0;
}

/*=========== erp_analytics_area css ============*/








/*================= domain_search_area css ==============*/
.hosting_service_area {
  position: relative;
}

.hosting_title {
  margin-bottom: 70px;
  text-align: center;
}

.hosting_title h2 {
  font-size: 40px;
  line-height: 55px;
  font-weight: 600;
  color: #3F51B5;
  margin-bottom: 15px;
}

.hosting_title p {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  text-align: justify;
}

.hosting_title .w_color {
  color: #fff;
}

.hosting_service_item {
  padding: 60px 40px;
  border-top: 6px solid transparent;
  border-radius: 6px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.hosting_service_item .icon {
  width: 70px;
  height: 60px;
  line-height: 60px;
  border-radius: 6px;
  background: #fff7f7;
  text-align: center;
  margin-bottom: 37px;
}

.hosting_service_item p {
  color: #7b7b93;
  margin-bottom: 0;
  font-weight: 400;
}

.hosting_service_item:hover {
  border-color: #f6626a;
  background: #fff;
  -webkit-box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
  box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
}

.pattern_shap {
  position: absolute;
  width: 125px;
  height: 225px;
  left: 0;
  top: 200px;
}

.pos_service_info .hosting_service_item {
  padding: 45px 40px;
}

.pos_service_info .hosting_service_item h4:hover {
  color: #5e53fb;
}

.pos_service_info .hosting_service_item img {
  margin-bottom: 33px;
}

.pos_service_info .hosting_service_item:hover {
  border-color: #5e53fb;
  -webkit-box-shadow: 0px 50px 100px 0px rgba(5, 1, 64, 0.1), 0px -5px 0px 0px rgba(95, 84, 253, 0.004);
  box-shadow: 0px 50px 100px 0px rgba(5, 1, 64, 0.1), 0px -5px 0px 0px rgba(95, 84, 253, 0.004);
}

.h_head {
  font-size: 20px;
  font-weight: 100;
  color: #3F51B5;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a .h_head:hover {
  color: #f6626a;
}

/*========== hosting_features_area css ========*/
.hosting_features_area {
  padding-bottom: 140px;
}

.h_features_content {
  padding-right: 80px;
}

.h_features_content .hosting_title {
  margin-bottom: 40px;
}

.h_features_content .hosting_title h2 {
  font-weight: 500;
}

.h_features_item {
  padding-right: 150px;
}

.h_features_item img {
  margin-right: 20px;
}

.h_features_item .h_head {
  margin-bottom: 10px;
}

.h_features_item p {
  margin-bottom: 0;
  font-weight: 400;
}

.h_features_item + .h_features_item {
  margin-top: 35px;
}

/*========== hosting_features_area css ========*/
/*========== h_action_area css ========*/
.h_action_area {
  background: #020230;
  padding: 80px 0px;
}

.h_action_content h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 32px;
}

.h_action_content p {
  color: #b4b4d3;
  margin-bottom: 42px;
}

/*========== h_action_area css ========*/
/*========== h_blog_area css ========*/
.h_blog_item {
  background-color: white;
  -webkit-box-shadow: 0px 30px 50px 0px rgba(64, 1, 4, 0.06);
  box-shadow: 0px 30px 50px 0px rgba(64, 1, 4, 0.06);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.h_blog_item img {
  width: 100%;
}

.h_blog_item .h_blog_content {
  padding: 25px 40px 30px;
}

.h_blog_item .h_blog_content h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: #2c2c51;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.h_blog_item .h_blog_content h3:hover {
  color: #f8636b;
}

.h_blog_item .h_blog_content .post_time {
  font-size: 14px;
  color: #7b7b93;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
}

.h_blog_item .h_blog_content .post_time i {
  color: #f8636b;
  margin-right: 5px;
}

.h_blog_item .h_blog_content .post-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 15px;
}

.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two {
  margin-top: 0;
  font-size: 14px;
  line-height: 16px;
  color: #7b7b93;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:before {
  content: "";
  height: 1px;
  background: #f8636b;
  position: absolute;
  bottom: 0px;
  width: 0;
  -webkit-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover {
  color: #f8636b;
}

.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover:before {
  width: 100%;
}

.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover i {
  padding-left: 5px;
}

.h_blog_item .h_blog_content .post-info-bottom .learn_btn_two i {
  vertical-align: inherit;
  padding-left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.h_blog_item .h_blog_content .post-info-bottom .post-info-comments {
  color: #7b7b93;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.h_blog_item .h_blog_content .post-info-bottom .post-info-comments i {
  color: #f8636b;
  padding-right: 3px;
}

.h_blog_item:hover {
  -webkit-box-shadow: 0px 30px 50px 0px rgba(64, 1, 4, 0.08);
  box-shadow: 0px 30px 50px 0px rgba(64, 1, 4, 0.08);
}

.pos_blog_item {
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.06);
  box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.06);
}

.pos_blog_item .h_blog_content {
  padding-left: 35px;
  padding-right: 35px;
}

.pos_blog_item .h_blog_content .post_time i {
  color: #5f54fd;
}

.pos_blog_item .h_blog_content h3 {
  font-size: 20px;
  line-height: 30px;
}

.pos_blog_item .h_blog_content h3:hover {
  color: #5f54fd;
}

.pos_blog_item .h_blog_content .post-info-bottom .learn_btn_two:before {
  background: #5f54fd;
}

.pos_blog_item .h_blog_content .post-info-bottom .learn_btn_two:hover {
  color: #5f54fd;
}

.pos_blog_item .h_blog_content .post-info-bottom .post-info-comments i {
  color: #5f54fd;
}

.pos_blog_item:hover {
  -webkit-box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.08);
  box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.08);
}

/*========== h_blog_area css ========*/

/*============== erp_service_area css =============*/
.erp_service_area {
  padding-top: 120px;
}

.erp_title h2 {
  font-size: 23px;
}
.erp_title h2 span {
  color: #ff0000;
}

.erp_service_item {
  margin-bottom: 30px;
  text-align: center;
}

.erp_service_item img {
  margin-bottom: 5px;
}

.erp_service_item .h_head:hover {
  color: #4e78f4;
}

.erp_service_item p {
  font-weight: 400;
  margin-bottom: 0;
  color: #424242;
}

/*============== erp_service_area css =============*/
.erp_action_area {
  background: #3F51B5;
  padding: 58px 0px;
}

.erp_content h2 {
  color: #fff;
  font-size: 34px;
  line-height: 52px;
  letter-spacing: 0.25px;
  font-weight: 300;
  text-align: center;
}
.erp_content h2 strong {
  font-weight: 700;
}



/*============ easy_setup_area css ============*/
.analytices_title span {
  display: block;
  font-weight: 300;
  color: #2c2c51;
}

.analytices_title p {
  font-weight: 400;
  color: #7b7b93;
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
}

.setup_inner {
  max-width: 830px;
  margin: -30px auto 0px;
}

.setup_inner .setup_item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0px;
  position: relative;
}

.setup_inner .setup_item.flex-row-reverse .setup_content {
  text-align: right;
  padding-right: 30px;
  padding-left: 0;
}

.setup_inner .setup_item .setup_img {
  text-align: center;
}

.setup_inner .setup_item .round {
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(1, 1, 64, 0.08);
  box-shadow: 0px 10px 30px 0px rgba(1, 1, 64, 0.08);
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: #4e78f4;
  font-weight: 500;
  line-height: 80px;
}

.setup_inner .setup_item .line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  border-right: 2px dashed #000000;
  opacity: 0.3;
  margin-left: -1px;
  z-index: -1;
}

.setup_inner .setup_item:first-child .line {
  top: 50%;
  height: 50%;
}

.setup_inner .setup_item:last-child .line {
  top: 0;
  height: 50%;
}

.setup_inner .setup_content {
  padding-left: 0px;
}

.setup_inner .setup_content h5 {
  font-size: 20px;
  font-weight: 100;
  color: #3F51B5;
  line-height: 28px;
  margin-bottom: 15px;
}

.setup_inner .setup_content p {
  font-size: 16px;
  color: #7b7b93;
  font-weight: 400;
  margin-bottom: 0;
}

.analytices_price_item {
  border: 1px solid #f0f0f6;
  border-radius: 5px;
  padding: 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.analytices_price_item .p_head {
  text-align: center;
  border-bottom: 1px solid #ececf6;
  padding-bottom: 30px;
}

.analytices_price_item .p_head h5 {
  font-size: 20px;
  font-weight: 500;
  color: #2c2c51;
}

.analytices_price_item .p_head .rate {
  font-size: 34px;
  font-weight: 600;
  color: #4e78f4;
  padding-bottom: 13px;
  padding-top: 22px;
}

.analytices_price_item .p_head h6 {
  font-size: 16px;
  color: #7b7b93;
  font-weight: 400;
}

.analytices_price_item .p_head .tag {
  color: #2cc91d;
}

.analytices_price_item .p_head .tag i {
  margin-right: 8px;
  vertical-align: middle;
}

.analytices_price_item .p_body {
  padding-top: 20px;
  margin-bottom: 0;
}

.analytices_price_item .p_body li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  color: #7b7b93;
  font-size: 400;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 12px 0px;
}

.analytices_price_item .p_body li i {
  font-size: 14px;
}

.analytices_price_item .er_btn {
  margin-top: 40px;
  display: block;
  text-align: center;
}

.analytices_price_item.active, .analytices_price_item:hover {
  -webkit-box-shadow: 0px 40px 80px 0px rgba(1, 1, 64, 0.08);
  box-shadow: 0px 40px 80px 0px rgba(1, 1, 64, 0.08);
  border-color: #fff;
}

.analytices_price_item.active .p_body li, .analytices_price_item:hover .p_body li {
  color: #2c2c51;
}

.analytices_price_item.active .p_body li .ti-check, .analytices_price_item:hover .p_body li .ti-check {
  color: #26da15;
}

.analytices_price_item.active .p_body li .ti-close, .analytices_price_item:hover .p_body li .ti-close {
  color: #fc314e;
}

.sec_pad {
  padding: 60px 0px;
}


/*============ easy_setup_area css ============*/

.h_analytices_features_item .h_analytices_content ul {
  margin-bottom: 0;
  border-top: 1px solid #ececf6;
  padding-top: 12px;
}
.h_analytices_features_item .h_analytices_content ul li {
  font-size: 16px;
  line-height: 28px;
  color: #7b7b93;
  font-weight: 400;
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
}
.h_analytices_features_item .h_analytices_content ul li span {
  font-weight: 500;
  color: #2c2c51;
}


.erp_call_action_area {
  background: #3F51B5;
  padding: 2em;
}



.erp_action_content img {
  margin-bottom: 32px;
}

.erp_action_content h3 {
  font-size: 38px;
  color: #ffffff;
  line-height: 21px;
  margin-bottom: 18px;
  text-align: center;
}

.erp_action_content p {
  font-size: 23px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.erp_action_content p span {
  font-weight: 700;
  color: #4e78f4;
}

.erp_action_content .er_btn {
  margin-top: 40px;
}

.er_btn_two {
  background: #4e78f4;
  border-color: #4e78f4;
  color: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
  box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
}

.er_btn_two:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #c8d4fa;
  background: transparent;
  color: #4e78f4;
}

.erp_customer_logo_area {
  padding-top: 120px;
}

.erp_customer_logo_area .er_btn {
  margin-top: 140px;
}

.erp_action_content .er_btn {
  margin-top: 15px;
  color: #ffff;
}
.er_btn_two {
  background: #4e78f4;
  border-color: #4e78f4;
  color: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
  box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
}
.er_btn {
  border: 2px solid #c8d4fa;
  font-size: 16px;
  font-weight: 500;
  color: #4e78f4;
  font-family: "Poppins", sans-serif;
  border-radius: 45px;
  line-height: 26px;
  padding: 8px 27px;
  display: inline-block;
  margin-top: 60px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

