.fn-invoice{
color: #CDDC39;
font-size: 24px;
 margin-top: 18px;
	
}
.fn-card{
color: #CDDC39;
font-size: 24px; 
margin-top: 18px;	
}
.fn-user{
color: #CDDC39;
font-size: 24px;
 margin-top: 18px;
}
.fn-usd{
color: #CDDC39;
font-size: 24px;
 margin-top: 18px;	
}
      .banner_part {
  position: relative;
  overflow: hidden;
  background-image:url("static-assets/images/ats/banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cta_part {
  background-image: url("static-assets/images/ats/cta_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: National-Book, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    color: #666;
    background: #9ae4ef;
}
.h_60{
font-size: 24px;
color: #fff;    
text-align: center;
}
.fn_wo{
font-size: 24px;
text-align: center;
color: #7142f8;
}
.fn_col{
	font-size: 20px;
	color: #7142f8;
}
.fn_50{
font-size: 20px;
color: #7142f8;
}
.fn_20{
	font-size: 20px;
color: #7142f8;}
.fn_fade{
visibility: visible;
 animation-name: fadeInUp;
	
}
.mb-1-t{
font-size: 20px;
line-height: 2em;
color: #673AB7;
}
.fn-big{
padding: 3em;
background-image: linear-gradient(#b9c4ff, #dcefff);
}
.fn-small{
visibility: visible; 
animation-delay: 0.2s;
 animation-name: fadeInLeft;
}
.payroll-png{
float: right;
height: 300px;
margin-top: 2em;
}
  .banner{
        box-sizing: border-box;
        padding:0em;
        background-image: url('static-assets/images/favicon/sales-index.jpg');
        position: relative;
        z-index: 1;
    }
    .banner-texts {
    box-sizing: border-box;
    padding: 7vw 0 10vw;
    }

    p {
    font-size: 1rem;
    line-height: 1.75;
    color: #333;
    margin: 10px 0;
    text-align: center;
}
.services-detail{
    background-image: url("static-assets/images/favicon/sales-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fn-float{
padding: 0em 6em;
float:right;
}
.h3-fn{
color: #76c125;
font-size: 20px;
padding: 1em;
border: 1px solid #76c125;
max-width: 800px;
}