/* ========================================================================
   Component: layout
 ========================================================================== */
 body,
 .wrapper > section {
     background-color: #e8e8e8;
 }
 
 .wrapper > .aside {
     background-color: #ffffff;
 }
 
 #loader-wrapper{
     background-color: #e8e8e870 !important;
 }
 /* ========================================================================
    Component: top-navbar
  ========================================================================== */
 .topnavbar {
     background-color: #fff;
 }
 
 /* sanjiv */
 .topnavbar .navbar-header {
     background-color: transparent;
      
     background-image: -webkit-linear-gradient(left, #0f7abd 0%,#3f7ea5 100%);
     background-image: -o-linear-gradient(left, #0f7abd 0%,#3f7ea5 100%);
     background-image: linear-gradient(to right,  #0f7abd 0%,#3f7ea5 100%);
     background-repeat: repeat-x;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f7abd', endColorstr='#3f7ea5', GradientType=1);
 }
 
 @media only screen and (min-width: 768px) {
     .topnavbar .navbar-header {
         background-image: none;
     }
 }
 
 
 .topnavbar .navbar-nav > li > a,
 .topnavbar .navbar-nav > .open > a {
     color: #0f7abd;
 }
 
 .topnavbar .navbar-nav > li > a:hover,
 .topnavbar .navbar-nav > .open > a:hover,
 .topnavbar .navbar-nav > li > a:focus,
 .topnavbar .navbar-nav > .open > a:focus {
     color: #0f7abd;
 }
 
 .topnavbar .navbar-nav > .active > a,
 .topnavbar .navbar-nav > .open > a,
 .topnavbar .navbar-nav > .active > a:hover,
 .topnavbar .navbar-nav > .open > a:hover,
 .topnavbar .navbar-nav > .active > a:focus,
 .topnavbar .navbar-nav > .open > a:focus {
     background-color: transparent;
 }
 
 .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
     color: #ffffff;
 }
 
 
 /*sanjiv */
 .topnavbar .nav-wrapper {
     background-color: #0f7abd;
     background-image: -webkit-linear-gradient(left, #0f7abd 0%,#3f7ea5 100%);
     background-image: -o-linear-gradient(left, #0f7abd 0%,#3f7ea5 100%);
     background-image: linear-gradient(to right,  #0f7abd 0%,#3f7ea5 100%);
     background-repeat: repeat-x;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f7abd', endColorstr='#3f7ea5', GradientType=1);
 }
 
 /*sanjiv */
 .nav-pills > li.active > a,
 .nav-pills > li.active > a:hover,
 .nav-pills > li.active > a:focus, li.user-header {
     background-color: #0f7abd !important;;
 }
 
 /*sanjiv */
 .panel-custom .panel-heading {
     border-bottom: 2px solid#0f7abd;
 }
 
 /*sanjiv */
 .custom-bg ,.fc-state-default{
     background: #0f7abd !important;;
     color: #FFFFff !important;;
 }
 
 /* sanjiv */
 .nav-tabs > li.active > a {
     border-top: 2px solid #0f7abd;
 }
 
 /* sanjiv */
 @media only screen and (min-width: 768px) {
     .topnavbar {
         background-color: #0f7abd;
     background-image: -webkit-linear-gradient(left, #0f7abd 0%,#3f7ea5 100%);
     background-image: -o-linear-gradient(left, #0f7abd 0%,#3f7ea5 100%);
     background-image: linear-gradient(to right,  #0f7abd 0%,#3f7ea5 100%);
     background-repeat: repeat-x;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37bc9b', endColorstr='#ff58ceb1', GradientType=1);
     }
 
     .topnavbar .navbar-nav > .open > a,
     .topnavbar .navbar-nav > .open > a:hover,
     .topnavbar .navbar-nav > .open > a:focus {
         box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
     }
 
     .topnavbar .navbar-nav > li > a,
     .topnavbar .navbar-nav > .open > a {
         color: #ffffff;
     }
 
     .topnavbar .navbar-nav > li > a:hover,
     .topnavbar .navbar-nav > .open > a:hover,
     .topnavbar .navbar-nav > li > a:focus,
     .topnavbar .navbar-nav > .open > a:focus {
         color: #206d5a;
     }
 }
 
 /* ========================================================================
    Component: sidebar
  ========================================================================== */
 .sidebar {
     background-color: #ffffff;
 }
 
 .sidebar .nav-heading {
     color: #919da8;
 }
 
 .sidebar .nav > li > a,
 .sidebar .nav > li > .nav-item {
     color: #515253;
 }
 
 .sidebar .nav > li > a:focus,
 .sidebar .nav > li > .nav-item:focus,
 .sidebar .nav > li > a:hover,
 .sidebar .nav > li > .nav-item:hover {
     color:  #0f7abd;
 }
 
 .sidebar .nav > li > a > em,
 .sidebar .nav > li > .nav-item > em {
     color: inherits;
 }
 
 .sidebar .nav > li.active,
 .sidebar .nav > li.open,
 .sidebar .nav > li.active > a,
 .sidebar .nav > li.open > a,
 .sidebar .nav > li.active .nav,
 .sidebar .nav > li.open .nav {
     background-color: #fcfcfc;
     color:  #0f7abd;
 }
 
 .sidebar .nav > li.active > a > em,
 .sidebar .nav > li.open > a > em {
     color: #0f7abd;
 }
 
 .sidebar .nav > li.active {
     border-left-color:  #0f7abd;
 }
 
 .sidebar-subnav {
     background-color: #0f7abd;
 }
 
 .sidebar-subnav > .sidebar-subnav-header {
     color: #515253;
 }
 
 .sidebar-subnav > li > a,
 .sidebar-subnav > li > .nav-item {
     color: #515253;
 }
 
 .sidebar-subnav > li > a:focus,
 .sidebar-subnav > li > .nav-item:focus,
 .sidebar-subnav > li > a:hover,
 .sidebar-subnav > li > .nav-item:hover {
     color:  #0f7abd;
 }
 
 .sidebar-subnav > li.active > a,
 .sidebar-subnav > li.active > .nav-item {
     color:  #0f7abd;
 }
 
 .sidebar-subnav > li.active > a:after,
 .sidebar-subnav > li.active > .nav-item:after {
     border-color: #0f7abd;
     /*background-color: #37bc9b;*/
 }
 
 /* ========================================================================
    Component: offsidebar
  ========================================================================== */
 .offsidebar {
     border-left: 1px solid #cccccc;
     background-color: #ffffff;
     color: #515253;
 }
 
 .timeline-2, .timeline-2 .time-item:after, .time-item, .time-item:after {
     border-color: #0f7abd;
 }
 .sub-active {
     border-left-color:  #0f7abd;
 }